DocumentHdrVersion "1.1"
Header (DocumentHdr
version 2
dialect 2
dmPackageRefs [
(DmPackageRef
library "ieee"
unitName "std_logic_1164"
)
(DmPackageRef
library "ieee"
unitName "std_logic_arith"
)
]
libraryRefs [
"ieee"
]
)
version "13.1"
appVersion "2019.3 (Build 4)"
model (TruthTableDiag
VExpander (VariableExpander
vvMap [
(vvPair
variable "HDLDir"
value "P:\\20\\alien_game\\alien_game_lib\\hdl"
)
(vvPair
variable "HDSDir"
value "P:\\20\\alien_game\\alien_game_lib\\hds"
)
(vvPair
variable "SideDataDesignDir"
value "P:\\20\\alien_game\\alien_game_lib\\hds\\c6_b1_victory_heart\\tbl.tt.info"
)
(vvPair
variable "SideDataUserDir"
value "P:\\20\\alien_game\\alien_game_lib\\hds\\c6_b1_victory_heart\\tbl.tt.user"
)
(vvPair
variable "SourceDir"
value "P:\\20\\alien_game\\alien_game_lib\\hds"
)
(vvPair
variable "appl"
value "HDL Designer"
)
(vvPair
variable "arch_name"
value "tbl"
)
(vvPair
variable "config"
value "%(unit)_%(view)_config"
)
(vvPair
variable "d"
value "P:\\20\\alien_game\\alien_game_lib\\hds\\c6_b1_victory_heart"
)
(vvPair
variable "d_logical"
value "P:\\20\\alien_game\\alien_game_lib\\hds\\c6_b1_victory_heart"
)
(vvPair
variable "date"
value " 5.03.2026"
)
(vvPair
variable "day"
value "to"
)
(vvPair
variable "day_long"
value "torstai"
)
(vvPair
variable "dd"
value "05"
)
(vvPair
variable "entity_name"
value "c6_b1_victory_heart"
)
(vvPair
variable "ext"
value "<TBD>"
)
(vvPair
variable "f"
value "tbl.tt"
)
(vvPair
variable "f_logical"
value "tbl.tt"
)
(vvPair
variable "f_noext"
value "tbl"
)
(vvPair
variable "graphical_source_author"
value "ptjiya"
)
(vvPair
variable "graphical_source_date"
value " 5.03.2026"
)
(vvPair
variable "graphical_source_group"
value "UNKNOWN"
)
(vvPair
variable "graphical_source_host"
value "HTC219-307-SPC"
)
(vvPair
variable "graphical_source_time"
value "09:55:06"
)
(vvPair
variable "group"
value "UNKNOWN"
)
(vvPair
variable "host"
value "HTC219-307-SPC"
)
(vvPair
variable "language"
value "VHDL"
)
(vvPair
variable "library"
value "alien_game_lib"
)
(vvPair
variable "library_downstream_ModelSimCompiler"
value "$HDS_PROJECT_DIR/alien_game_lib/work"
)
(vvPair
variable "library_downstream_QuestaSimCompiler"
value "$HDS_PROJECT_DIR/alien_game_lib/work"
)
(vvPair
variable "library_downstream_SvAssistantInvoke"
value "$HDS_PROJECT_DIR/alien_game_lib/svassistant"
)
(vvPair
variable "mm"
value "03"
)
(vvPair
variable "module_name"
value "c6_b1_victory_heart"
)
(vvPair
variable "month"
value "maalis"
)
(vvPair
variable "month_long"
value "maaliskuu"
)
(vvPair
variable "p"
value "P:\\20\\alien_game\\alien_game_lib\\hds\\c6_b1_victory_heart\\tbl.tt"
)
(vvPair
variable "p_logical"
value "P:\\20\\alien_game\\alien_game_lib\\hds\\c6_b1_victory_heart\\tbl.tt"
)
(vvPair
variable "package_name"
value "<Undefined Variable>"
)
(vvPair
variable "project_name"
value "alien_game"
)
(vvPair
variable "series"
value "HDL Designer Series"
)
(vvPair
variable "task_DesignCompilerPath"
value "<TBD>"
)
(vvPair
variable "task_LeonardoPath"
value "<TBD>"
)
(vvPair
variable "task_ModelSimPath"
value "C:\\Apps\\MODELSIM DE-64 2022.3\\win64pe"
)
(vvPair
variable "task_NC-SimPath"
value "<TBD>"
)
(vvPair
variable "task_PrecisionRTLPath"
value "<TBD>"
)
(vvPair
variable "task_QuestaSimPath"
value "<TBD>"
)
(vvPair
variable "task_VCSPath"
value "<TBD>"
)
(vvPair
variable "this_ext"
value "tt"
)
(vvPair
variable "this_file"
value "tbl"
)
(vvPair
variable "this_file_logical"
value "tbl"
)
(vvPair
variable "time"
value "09:55:06"
)
(vvPair
variable "unit"
value "c6_b1_victory_heart"
)
(vvPair
variable "user"
value "ptjiya"
)
(vvPair
variable "version"
value "2019.3 (Build 4)"
)
(vvPair
variable "view"
value "tbl"
)
(vvPair
variable "year"
value "2026"
)
(vvPair
variable "yy"
value "26"
)
]
)
LanguageMgr "Vhdl93LangMgr"
uid 49,0
optionalChildren [
*1 (TruthTable
uid 1,0
optionalChildren [
*2 (TextMatrixItem
uid 2,0
va (VaSet
vasetType 1
fg "39936,56832,65280"
bg "39936,56832,65280"
)
col 1
row 1
text (Text
uid 3,0
va (VaSet
)
xt "0,0,1400,1000"
st "idx"
blo "0,800"
tm "TableTextMgr"
)
)
*3 (TextMatrixItem
uid 106,0
va (VaSet
vasetType 1
fg "65535,65535,37120"
bg "65535,65535,37120"
)
col 2
row 1
text (Text
uid 107,0
va (VaSet
)
xt "0,0,3500,1000"
st "victory_x"
blo "0,800"
tm "TableTextMgr"
)
)
*4 (TextMatrixItem
uid 108,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 2
row 2
text (Text
uid 109,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"01\""
blo "0,800"
tm "TableTextMgr"
)
)
*5 (TextMatrixItem
uid 116,0
va (VaSet
vasetType 1
fg "65535,65535,37120"
bg "65535,65535,37120"
)
col 3
row 1
text (Text
uid 117,0
va (VaSet
)
xt "0,0,3500,1000"
st "victory_y"
blo "0,800"
tm "TableTextMgr"
)
)
*6 (TextMatrixItem
uid 118,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 3
row 2
text (Text
uid 119,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"04\""
blo "0,800"
tm "TableTextMgr"
)
)
*7 (TextMatrixItem
uid 120,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 3
row 3
text (Text
uid 121,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"08\""
blo "0,800"
tm "TableTextMgr"
)
)
*8 (TextMatrixItem
uid 122,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 3
row 4
text (Text
uid 123,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"10\""
blo "0,800"
tm "TableTextMgr"
)
)
*9 (TextMatrixItem
uid 159,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 2
row 5
text (Text
uid 160,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"02\""
blo "0,800"
tm "TableTextMgr"
)
)
*10 (TextMatrixItem
uid 161,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 3
row 5
text (Text
uid 162,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"02\""
blo "0,800"
tm "TableTextMgr"
)
)
*11 (TextMatrixItem
uid 181,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 3
row 6
text (Text
uid 182,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"04\""
blo "0,800"
tm "TableTextMgr"
)
)
*12 (TextMatrixItem
uid 189,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 3
row 7
text (Text
uid 190,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"08\""
blo "0,800"
tm "TableTextMgr"
)
)
*13 (TextMatrixItem
uid 197,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 3
row 8
text (Text
uid 198,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"10\""
blo "0,800"
tm "TableTextMgr"
)
)
*14 (TextMatrixItem
uid 205,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 3
row 9
text (Text
uid 206,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"20\""
blo "0,800"
tm "TableTextMgr"
)
)
*15 (TextMatrixItem
uid 276,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 3
row 11
text (Text
uid 277,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"04\""
blo "0,800"
tm "TableTextMgr"
)
)
*16 (TextMatrixItem
uid 282,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 2
row 10
text (Text
uid 283,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"04\""
blo "0,800"
tm "TableTextMgr"
)
)
*17 (TextMatrixItem
uid 284,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 3
row 10
text (Text
uid 285,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"02\""
blo "0,800"
tm "TableTextMgr"
)
)
*18 (TextMatrixItem
uid 292,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 3
row 12
text (Text
uid 293,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"08\""
blo "0,800"
tm "TableTextMgr"
)
)
*19 (TextMatrixItem
uid 300,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 3
row 13
text (Text
uid 301,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"10\""
blo "0,800"
tm "TableTextMgr"
)
)
*20 (TextMatrixItem
uid 324,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 3
row 14
text (Text
uid 325,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"20\""
blo "0,800"
tm "TableTextMgr"
)
)
*21 (TextMatrixItem
uid 348,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 3
row 15
text (Text
uid 349,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"40\""
blo "0,800"
tm "TableTextMgr"
)
)
*22 (TextMatrixItem
uid 418,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 3
row 16
text (Text
uid 419,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"04\""
blo "0,800"
tm "TableTextMgr"
)
)
*23 (TextMatrixItem
uid 420,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 3
row 17
text (Text
uid 421,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"08\""
blo "0,800"
tm "TableTextMgr"
)
)
*24 (TextMatrixItem
uid 422,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 3
row 18
text (Text
uid 423,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"10\""
blo "0,800"
tm "TableTextMgr"
)
)
*25 (TextMatrixItem
uid 424,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 3
row 19
text (Text
uid 425,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"20\""
blo "0,800"
tm "TableTextMgr"
)
)
*26 (TextMatrixItem
uid 426,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 3
row 20
text (Text
uid 427,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"40\""
blo "0,800"
tm "TableTextMgr"
)
)
*27 (TextMatrixItem
uid 580,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 3
row 22
text (Text
uid 581,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"04\""
blo "0,800"
tm "TableTextMgr"
)
)
*28 (TextMatrixItem
uid 582,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 3
row 23
text (Text
uid 583,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"08\""
blo "0,800"
tm "TableTextMgr"
)
)
*29 (TextMatrixItem
uid 584,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 3
row 24
text (Text
uid 585,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"10\""
blo "0,800"
tm "TableTextMgr"
)
)
*30 (TextMatrixItem
uid 586,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 3
row 25
text (Text
uid 587,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"20\""
blo "0,800"
tm "TableTextMgr"
)
)
*31 (TextMatrixItem
uid 588,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 3
row 26
text (Text
uid 589,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"40\""
blo "0,800"
tm "TableTextMgr"
)
)
*32 (TextMatrixItem
uid 977,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 2
row 6
text (Text
uid 978,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"02\""
blo "0,800"
tm "TableTextMgr"
)
)
*33 (TextMatrixItem
uid 979,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 2
row 7
text (Text
uid 980,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"02\""
blo "0,800"
tm "TableTextMgr"
)
)
*34 (TextMatrixItem
uid 981,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 2
row 8
text (Text
uid 982,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"02\""
blo "0,800"
tm "TableTextMgr"
)
)
*35 (TextMatrixItem
uid 983,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 2
row 9
text (Text
uid 984,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"02\""
blo "0,800"
tm "TableTextMgr"
)
)
*36 (TextMatrixItem
uid 985,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 2
row 11
text (Text
uid 986,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"04\""
blo "0,800"
tm "TableTextMgr"
)
)
*37 (TextMatrixItem
uid 987,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 2
row 12
text (Text
uid 988,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"04\""
blo "0,800"
tm "TableTextMgr"
)
)
*38 (TextMatrixItem
uid 989,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 2
row 13
text (Text
uid 990,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"04\""
blo "0,800"
tm "TableTextMgr"
)
)
*39 (TextMatrixItem
uid 991,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 2
row 14
text (Text
uid 992,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"04\""
blo "0,800"
tm "TableTextMgr"
)
)
*40 (TextMatrixItem
uid 993,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 2
row 15
text (Text
uid 994,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"04\""
blo "0,800"
tm "TableTextMgr"
)
)
*41 (TextMatrixItem
uid 995,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 2
row 16
text (Text
uid 996,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"08\""
blo "0,800"
tm "TableTextMgr"
)
)
*42 (TextMatrixItem
uid 997,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 2
row 17
text (Text
uid 998,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"08\""
blo "0,800"
tm "TableTextMgr"
)
)
*43 (TextMatrixItem
uid 999,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 2
row 18
text (Text
uid 1000,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"08\""
blo "0,800"
tm "TableTextMgr"
)
)
*44 (TextMatrixItem
uid 1001,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 2
row 19
text (Text
uid 1002,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"08\""
blo "0,800"
tm "TableTextMgr"
)
)
*45 (TextMatrixItem
uid 1003,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 2
row 20
text (Text
uid 1004,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"08\""
blo "0,800"
tm "TableTextMgr"
)
)
*46 (TextMatrixItem
uid 1005,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 2
row 21
text (Text
uid 1006,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"08\""
blo "0,800"
tm "TableTextMgr"
)
)
*47 (TextMatrixItem
uid 1007,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 2
row 22
text (Text
uid 1008,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"10\""
blo "0,800"
tm "TableTextMgr"
)
)
*48 (TextMatrixItem
uid 1009,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 2
row 23
text (Text
uid 1010,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"10\""
blo "0,800"
tm "TableTextMgr"
)
)
*49 (TextMatrixItem
uid 1011,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 2
row 24
text (Text
uid 1012,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"10\""
blo "0,800"
tm "TableTextMgr"
)
)
*50 (TextMatrixItem
uid 1013,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 2
row 25
text (Text
uid 1014,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"10\""
blo "0,800"
tm "TableTextMgr"
)
)
*51 (TextMatrixItem
uid 1015,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 2
row 26
text (Text
uid 1016,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"10\""
blo "0,800"
tm "TableTextMgr"
)
)
*52 (TextMatrixItem
uid 1017,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 2
row 27
text (Text
uid 1018,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"10\""
blo "0,800"
tm "TableTextMgr"
)
)
*53 (TextMatrixItem
uid 1136,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 4
row 2
text (Text
uid 1137,0
va (VaSet
)
xt "0,0,4100,1000"
st "X\"0000FF\""
blo "0,800"
tm "TableTextMgr"
)
)
*54 (TextMatrixItem
uid 1367,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 2
row 3
text (Text
uid 1368,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"01\""
blo "0,800"
tm "TableTextMgr"
)
)
*55 (TextMatrixItem
uid 1369,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 2
row 4
text (Text
uid 1370,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"01\""
blo "0,800"
tm "TableTextMgr"
)
)
*56 (TextMatrixItem
uid 1373,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 3
row 27
text (Text
uid 1374,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"80\""
blo "0,800"
tm "TableTextMgr"
)
)
*57 (TextMatrixItem
uid 1375,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 3
row 21
text (Text
uid 1376,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"80\""
blo "0,800"
tm "TableTextMgr"
)
)
*58 (TextMatrixItem
uid 4,0
va (VaSet
vasetType 1
fg "65535,65535,37120"
bg "65535,65535,37120"
)
col 4
row 1
text (Text
uid 5,0
va (VaSet
)
xt "0,0,5200,1000"
st "victory_color"
blo "0,800"
tm "TableTextMgr"
)
)
*59 (TextMatrixItem
uid 1722,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 2
row 28
text (Text
uid 1723,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"20\""
blo "0,800"
tm "TableTextMgr"
)
)
*60 (TextMatrixItem
uid 1724,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 2
row 29
text (Text
uid 1725,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"20\""
blo "0,800"
tm "TableTextMgr"
)
)
*61 (TextMatrixItem
uid 1726,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 2
row 30
text (Text
uid 1727,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"20\""
blo "0,800"
tm "TableTextMgr"
)
)
*62 (TextMatrixItem
uid 1728,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 2
row 31
text (Text
uid 1729,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"20\""
blo "0,800"
tm "TableTextMgr"
)
)
*63 (TextMatrixItem
uid 1730,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 2
row 32
text (Text
uid 1731,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"20\""
blo "0,800"
tm "TableTextMgr"
)
)
*64 (TextMatrixItem
uid 1732,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 3
row 28
text (Text
uid 1733,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"02\""
blo "0,800"
tm "TableTextMgr"
)
)
*65 (TextMatrixItem
uid 1734,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 3
row 29
text (Text
uid 1735,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"04\""
blo "0,800"
tm "TableTextMgr"
)
)
*66 (TextMatrixItem
uid 1736,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 3
row 30
text (Text
uid 1737,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"08\""
blo "0,800"
tm "TableTextMgr"
)
)
*67 (TextMatrixItem
uid 1738,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 3
row 31
text (Text
uid 1739,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"10\""
blo "0,800"
tm "TableTextMgr"
)
)
*68 (TextMatrixItem
uid 1740,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 3
row 32
text (Text
uid 1741,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"20\""
blo "0,800"
tm "TableTextMgr"
)
)
*69 (TextMatrixItem
uid 1762,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 2
row 34
text (Text
uid 1763,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"40\""
blo "0,800"
tm "TableTextMgr"
)
)
*70 (TextMatrixItem
uid 1764,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 2
row 35
text (Text
uid 1765,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"40\""
blo "0,800"
tm "TableTextMgr"
)
)
*71 (TextMatrixItem
uid 1766,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 2
row 36
text (Text
uid 1767,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"40\""
blo "0,800"
tm "TableTextMgr"
)
)
*72 (TextMatrixItem
uid 1768,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 2
row 37
text (Text
uid 1769,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"40\""
blo "0,800"
tm "TableTextMgr"
)
)
*73 (TextMatrixItem
uid 1770,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 2
row 38
text (Text
uid 1771,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"40\""
blo "0,800"
tm "TableTextMgr"
)
)
*74 (TextMatrixItem
uid 1772,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 3
row 34
text (Text
uid 1773,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"02\""
blo "0,800"
tm "TableTextMgr"
)
)
*75 (TextMatrixItem
uid 1774,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 3
row 35
text (Text
uid 1775,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"04\""
blo "0,800"
tm "TableTextMgr"
)
)
*76 (TextMatrixItem
uid 1776,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 3
row 36
text (Text
uid 1777,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"08\""
blo "0,800"
tm "TableTextMgr"
)
)
*77 (TextMatrixItem
uid 1778,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 3
row 37
text (Text
uid 1779,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"10\""
blo "0,800"
tm "TableTextMgr"
)
)
*78 (TextMatrixItem
uid 1780,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 3
row 38
text (Text
uid 1781,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"20\""
blo "0,800"
tm "TableTextMgr"
)
)
*79 (TextMatrixItem
uid 1796,0
va (VaSet
vasetType 1
fg "0,65535,65535"
bg "0,65535,65535"
)
col 1
row 41
text (Text
uid 1797,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"28\""
blo "0,800"
tm "TableTextMgr"
)
)
*80 (TextMatrixItem
uid 1798,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 2
row 39
text (Text
uid 1799,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"80\""
blo "0,800"
tm "TableTextMgr"
)
)
*81 (TextMatrixItem
uid 1800,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 2
row 40
text (Text
uid 1801,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"80\""
blo "0,800"
tm "TableTextMgr"
)
)
*82 (TextMatrixItem
uid 1802,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 2
row 41
text (Text
uid 1803,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"80\""
blo "0,800"
tm "TableTextMgr"
)
)
*83 (TextMatrixItem
uid 1804,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 3
row 39
text (Text
uid 1805,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"04\""
blo "0,800"
tm "TableTextMgr"
)
)
*84 (TextMatrixItem
uid 1806,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 3
row 40
text (Text
uid 1807,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"08\""
blo "0,800"
tm "TableTextMgr"
)
)
*85 (TextMatrixItem
uid 1808,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 3
row 41
text (Text
uid 1809,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"10\""
blo "0,800"
tm "TableTextMgr"
)
)
*86 (TextMatrixItem
uid 1901,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 4
row 3
text (Text
uid 1902,0
va (VaSet
)
xt "0,0,4100,1000"
st "X\"0000FF\""
blo "0,800"
tm "TableTextMgr"
)
)
*87 (TextMatrixItem
uid 1903,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 4
row 4
text (Text
uid 1904,0
va (VaSet
)
xt "0,0,4100,1000"
st "X\"0000FF\""
blo "0,800"
tm "TableTextMgr"
)
)
*88 (TextMatrixItem
uid 1905,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 4
row 5
text (Text
uid 1906,0
va (VaSet
)
xt "0,0,4100,1000"
st "X\"0000FF\""
blo "0,800"
tm "TableTextMgr"
)
)
*89 (TextMatrixItem
uid 1907,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 4
row 6
text (Text
uid 1908,0
va (VaSet
)
xt "0,0,4100,1000"
st "X\"0000FF\""
blo "0,800"
tm "TableTextMgr"
)
)
*90 (TextMatrixItem
uid 1909,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 4
row 7
text (Text
uid 1910,0
va (VaSet
)
xt "0,0,4100,1000"
st "X\"0000FF\""
blo "0,800"
tm "TableTextMgr"
)
)
*91 (TextMatrixItem
uid 1911,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 4
row 8
text (Text
uid 1912,0
va (VaSet
)
xt "0,0,4100,1000"
st "X\"0000FF\""
blo "0,800"
tm "TableTextMgr"
)
)
*92 (TextMatrixItem
uid 1913,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 4
row 9
text (Text
uid 1914,0
va (VaSet
)
xt "0,0,4100,1000"
st "X\"0000FF\""
blo "0,800"
tm "TableTextMgr"
)
)
*93 (TextMatrixItem
uid 1915,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 4
row 10
text (Text
uid 1916,0
va (VaSet
)
xt "0,0,4100,1000"
st "X\"0000FF\""
blo "0,800"
tm "TableTextMgr"
)
)
*94 (TextMatrixItem
uid 1917,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 4
row 11
text (Text
uid 1918,0
va (VaSet
)
xt "0,0,4100,1000"
st "X\"0000FF\""
blo "0,800"
tm "TableTextMgr"
)
)
*95 (TextMatrixItem
uid 1919,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 4
row 12
text (Text
uid 1920,0
va (VaSet
)
xt "0,0,4100,1000"
st "X\"0000FF\""
blo "0,800"
tm "TableTextMgr"
)
)
*96 (TextMatrixItem
uid 1921,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 4
row 13
text (Text
uid 1922,0
va (VaSet
)
xt "0,0,4100,1000"
st "X\"0000FF\""
blo "0,800"
tm "TableTextMgr"
)
)
*97 (TextMatrixItem
uid 1923,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 4
row 14
text (Text
uid 1924,0
va (VaSet
)
xt "0,0,4100,1000"
st "X\"0000FF\""
blo "0,800"
tm "TableTextMgr"
)
)
*98 (TextMatrixItem
uid 1925,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 4
row 15
text (Text
uid 1926,0
va (VaSet
)
xt "0,0,4100,1000"
st "X\"0000FF\""
blo "0,800"
tm "TableTextMgr"
)
)
*99 (TextMatrixItem
uid 1927,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 4
row 16
text (Text
uid 1928,0
va (VaSet
)
xt "0,0,4100,1000"
st "X\"0000FF\""
blo "0,800"
tm "TableTextMgr"
)
)
*100 (TextMatrixItem
uid 1929,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 4
row 17
text (Text
uid 1930,0
va (VaSet
)
xt "0,0,4100,1000"
st "X\"0000FF\""
blo "0,800"
tm "TableTextMgr"
)
)
*101 (TextMatrixItem
uid 1931,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 4
row 18
text (Text
uid 1932,0
va (VaSet
)
xt "0,0,4100,1000"
st "X\"0000FF\""
blo "0,800"
tm "TableTextMgr"
)
)
*102 (TextMatrixItem
uid 1933,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 4
row 19
text (Text
uid 1934,0
va (VaSet
)
xt "0,0,4100,1000"
st "X\"0000FF\""
blo "0,800"
tm "TableTextMgr"
)
)
*103 (TextMatrixItem
uid 1935,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 4
row 20
text (Text
uid 1936,0
va (VaSet
)
xt "0,0,4100,1000"
st "X\"0000FF\""
blo "0,800"
tm "TableTextMgr"
)
)
*104 (TextMatrixItem
uid 1937,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 4
row 21
text (Text
uid 1938,0
va (VaSet
)
xt "0,0,4100,1000"
st "X\"0000FF\""
blo "0,800"
tm "TableTextMgr"
)
)
*105 (TextMatrixItem
uid 1939,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 4
row 22
text (Text
uid 1940,0
va (VaSet
)
xt "0,0,4100,1000"
st "X\"0000FF\""
blo "0,800"
tm "TableTextMgr"
)
)
*106 (TextMatrixItem
uid 1941,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 4
row 23
text (Text
uid 1942,0
va (VaSet
)
xt "0,0,4100,1000"
st "X\"0000FF\""
blo "0,800"
tm "TableTextMgr"
)
)
*107 (TextMatrixItem
uid 1943,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 4
row 24
text (Text
uid 1944,0
va (VaSet
)
xt "0,0,4100,1000"
st "X\"0000FF\""
blo "0,800"
tm "TableTextMgr"
)
)
*108 (TextMatrixItem
uid 1945,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 4
row 25
text (Text
uid 1946,0
va (VaSet
)
xt "0,0,4100,1000"
st "X\"0000FF\""
blo "0,800"
tm "TableTextMgr"
)
)
*109 (TextMatrixItem
uid 1947,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 4
row 26
text (Text
uid 1948,0
va (VaSet
)
xt "0,0,4100,1000"
st "X\"0000FF\""
blo "0,800"
tm "TableTextMgr"
)
)
*110 (TextMatrixItem
uid 1949,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 4
row 27
text (Text
uid 1950,0
va (VaSet
)
xt "0,0,4100,1000"
st "X\"0000FF\""
blo "0,800"
tm "TableTextMgr"
)
)
*111 (TextMatrixItem
uid 1951,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 4
row 28
text (Text
uid 1952,0
va (VaSet
)
xt "0,0,4100,1000"
st "X\"0000FF\""
blo "0,800"
tm "TableTextMgr"
)
)
*112 (TextMatrixItem
uid 1953,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 4
row 29
text (Text
uid 1954,0
va (VaSet
)
xt "0,0,4100,1000"
st "X\"0000FF\""
blo "0,800"
tm "TableTextMgr"
)
)
*113 (TextMatrixItem
uid 1955,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 4
row 30
text (Text
uid 1956,0
va (VaSet
)
xt "0,0,4100,1000"
st "X\"0000FF\""
blo "0,800"
tm "TableTextMgr"
)
)
*114 (TextMatrixItem
uid 1957,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 4
row 31
text (Text
uid 1958,0
va (VaSet
)
xt "0,0,4100,1000"
st "X\"0000FF\""
blo "0,800"
tm "TableTextMgr"
)
)
*115 (TextMatrixItem
uid 1959,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 4
row 32
text (Text
uid 1960,0
va (VaSet
)
xt "0,0,4100,1000"
st "X\"0000FF\""
blo "0,800"
tm "TableTextMgr"
)
)
*116 (TextMatrixItem
uid 1961,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 4
row 34
text (Text
uid 1962,0
va (VaSet
)
xt "0,0,4100,1000"
st "X\"0000FF\""
blo "0,800"
tm "TableTextMgr"
)
)
*117 (TextMatrixItem
uid 1963,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 4
row 35
text (Text
uid 1964,0
va (VaSet
)
xt "0,0,4100,1000"
st "X\"0000FF\""
blo "0,800"
tm "TableTextMgr"
)
)
*118 (TextMatrixItem
uid 1965,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 4
row 36
text (Text
uid 1966,0
va (VaSet
)
xt "0,0,4100,1000"
st "X\"0000FF\""
blo "0,800"
tm "TableTextMgr"
)
)
*119 (TextMatrixItem
uid 1967,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 4
row 37
text (Text
uid 1968,0
va (VaSet
)
xt "0,0,4100,1000"
st "X\"0000FF\""
blo "0,800"
tm "TableTextMgr"
)
)
*120 (TextMatrixItem
uid 1969,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 4
row 38
text (Text
uid 1970,0
va (VaSet
)
xt "0,0,4100,1000"
st "X\"0000FF\""
blo "0,800"
tm "TableTextMgr"
)
)
*121 (TextMatrixItem
uid 1971,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 4
row 39
text (Text
uid 1972,0
va (VaSet
)
xt "0,0,4100,1000"
st "X\"0000FF\""
blo "0,800"
tm "TableTextMgr"
)
)
*122 (TextMatrixItem
uid 1973,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 4
row 40
text (Text
uid 1974,0
va (VaSet
)
xt "0,0,4100,1000"
st "X\"0000FF\""
blo "0,800"
tm "TableTextMgr"
)
)
*123 (TextMatrixItem
uid 1975,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 4
row 41
text (Text
uid 1976,0
va (VaSet
)
xt "0,0,4100,1000"
st "X\"0000FF\""
blo "0,800"
tm "TableTextMgr"
)
)
*124 (TextMatrixItem
uid 2010,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 2
row 33
text (Text
uid 2011,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"20\""
blo "0,800"
tm "TableTextMgr"
)
)
*125 (TextMatrixItem
uid 2012,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 3
row 33
text (Text
uid 2013,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"40\""
blo "0,800"
tm "TableTextMgr"
)
)
*126 (TextMatrixItem
uid 2014,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 4
row 33
text (Text
uid 2015,0
va (VaSet
)
xt "0,0,4100,1000"
st "X\"0000FF\""
blo "0,800"
tm "TableTextMgr"
)
)
*127 (TextMatrixItem
uid 2055,0
va (VaSet
vasetType 1
fg "0,65535,65535"
bg "0,65535,65535"
)
col 1
row 2
text (Text
uid 2056,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"01\""
blo "0,800"
tm "TableTextMgr"
)
)
*128 (TextMatrixItem
uid 2057,0
va (VaSet
vasetType 1
fg "0,65535,65535"
bg "0,65535,65535"
)
col 1
row 3
text (Text
uid 2058,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"02\""
blo "0,800"
tm "TableTextMgr"
)
)
*129 (TextMatrixItem
uid 2059,0
va (VaSet
vasetType 1
fg "0,65535,65535"
bg "0,65535,65535"
)
col 1
row 4
text (Text
uid 2060,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"03\""
blo "0,800"
tm "TableTextMgr"
)
)
*130 (TextMatrixItem
uid 2061,0
va (VaSet
vasetType 1
fg "0,65535,65535"
bg "0,65535,65535"
)
col 1
row 5
text (Text
uid 2062,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"04\""
blo "0,800"
tm "TableTextMgr"
)
)
*131 (TextMatrixItem
uid 2063,0
va (VaSet
vasetType 1
fg "0,65535,65535"
bg "0,65535,65535"
)
col 1
row 6
text (Text
uid 2064,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"05\""
blo "0,800"
tm "TableTextMgr"
)
)
*132 (TextMatrixItem
uid 2065,0
va (VaSet
vasetType 1
fg "0,65535,65535"
bg "0,65535,65535"
)
col 1
row 7
text (Text
uid 2066,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"06\""
blo "0,800"
tm "TableTextMgr"
)
)
*133 (TextMatrixItem
uid 2067,0
va (VaSet
vasetType 1
fg "0,65535,65535"
bg "0,65535,65535"
)
col 1
row 8
text (Text
uid 2068,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"07\""
blo "0,800"
tm "TableTextMgr"
)
)
*134 (TextMatrixItem
uid 2069,0
va (VaSet
vasetType 1
fg "0,65535,65535"
bg "0,65535,65535"
)
col 1
row 9
text (Text
uid 2070,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"08\""
blo "0,800"
tm "TableTextMgr"
)
)
*135 (TextMatrixItem
uid 2071,0
va (VaSet
vasetType 1
fg "0,65535,65535"
bg "0,65535,65535"
)
col 1
row 10
text (Text
uid 2072,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"09\""
blo "0,800"
tm "TableTextMgr"
)
)
*136 (TextMatrixItem
uid 2073,0
va (VaSet
vasetType 1
fg "0,65535,65535"
bg "0,65535,65535"
)
col 1
row 11
text (Text
uid 2074,0
va (VaSet
)
xt "0,0,2400,1000"
st "X\"0A\""
blo "0,800"
tm "TableTextMgr"
)
)
*137 (TextMatrixItem
uid 2075,0
va (VaSet
vasetType 1
fg "0,65535,65535"
bg "0,65535,65535"
)
col 1
row 12
text (Text
uid 2076,0
va (VaSet
)
xt "0,0,2400,1000"
st "X\"0B\""
blo "0,800"
tm "TableTextMgr"
)
)
*138 (TextMatrixItem
uid 2077,0
va (VaSet
vasetType 1
fg "0,65535,65535"
bg "0,65535,65535"
)
col 1
row 13
text (Text
uid 2078,0
va (VaSet
)
xt "0,0,2500,1000"
st "X\"0C\""
blo "0,800"
tm "TableTextMgr"
)
)
*139 (TextMatrixItem
uid 2079,0
va (VaSet
vasetType 1
fg "0,65535,65535"
bg "0,65535,65535"
)
col 1
row 14
text (Text
uid 2080,0
va (VaSet
)
xt "0,0,2500,1000"
st "X\"0D\""
blo "0,800"
tm "TableTextMgr"
)
)
*140 (TextMatrixItem
uid 2081,0
va (VaSet
vasetType 1
fg "0,65535,65535"
bg "0,65535,65535"
)
col 1
row 15
text (Text
uid 2082,0
va (VaSet
)
xt "0,0,2400,1000"
st "X\"0E\""
blo "0,800"
tm "TableTextMgr"
)
)
*141 (TextMatrixItem
uid 2083,0
va (VaSet
vasetType 1
fg "0,65535,65535"
bg "0,65535,65535"
)
col 1
row 16
text (Text
uid 2084,0
va (VaSet
)
xt "0,0,2400,1000"
st "X\"0F\""
blo "0,800"
tm "TableTextMgr"
)
)
*142 (TextMatrixItem
uid 2085,0
va (VaSet
vasetType 1
fg "0,65535,65535"
bg "0,65535,65535"
)
col 1
row 17
text (Text
uid 2086,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"10\""
blo "0,800"
tm "TableTextMgr"
)
)
*143 (TextMatrixItem
uid 2087,0
va (VaSet
vasetType 1
fg "0,65535,65535"
bg "0,65535,65535"
)
col 1
row 18
text (Text
uid 2088,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"11\""
blo "0,800"
tm "TableTextMgr"
)
)
*144 (TextMatrixItem
uid 2089,0
va (VaSet
vasetType 1
fg "0,65535,65535"
bg "0,65535,65535"
)
col 1
row 19
text (Text
uid 2090,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"12\""
blo "0,800"
tm "TableTextMgr"
)
)
*145 (TextMatrixItem
uid 2091,0
va (VaSet
vasetType 1
fg "0,65535,65535"
bg "0,65535,65535"
)
col 1
row 20
text (Text
uid 2092,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"13\""
blo "0,800"
tm "TableTextMgr"
)
)
*146 (TextMatrixItem
uid 2093,0
va (VaSet
vasetType 1
fg "0,65535,65535"
bg "0,65535,65535"
)
col 1
row 21
text (Text
uid 2094,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"14\""
blo "0,800"
tm "TableTextMgr"
)
)
*147 (TextMatrixItem
uid 2095,0
va (VaSet
vasetType 1
fg "0,65535,65535"
bg "0,65535,65535"
)
col 1
row 22
text (Text
uid 2096,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"15\""
blo "0,800"
tm "TableTextMgr"
)
)
*148 (TextMatrixItem
uid 2097,0
va (VaSet
vasetType 1
fg "0,65535,65535"
bg "0,65535,65535"
)
col 1
row 23
text (Text
uid 2098,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"16\""
blo "0,800"
tm "TableTextMgr"
)
)
*149 (TextMatrixItem
uid 2099,0
va (VaSet
vasetType 1
fg "0,65535,65535"
bg "0,65535,65535"
)
col 1
row 24
text (Text
uid 2100,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"17\""
blo "0,800"
tm "TableTextMgr"
)
)
*150 (TextMatrixItem
uid 2101,0
va (VaSet
vasetType 1
fg "0,65535,65535"
bg "0,65535,65535"
)
col 1
row 25
text (Text
uid 2102,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"18\""
blo "0,800"
tm "TableTextMgr"
)
)
*151 (TextMatrixItem
uid 2103,0
va (VaSet
vasetType 1
fg "0,65535,65535"
bg "0,65535,65535"
)
col 1
row 26
text (Text
uid 2104,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"19\""
blo "0,800"
tm "TableTextMgr"
)
)
*152 (TextMatrixItem
uid 2105,0
va (VaSet
vasetType 1
fg "0,65535,65535"
bg "0,65535,65535"
)
col 1
row 27
text (Text
uid 2106,0
va (VaSet
)
xt "0,0,2400,1000"
st "X\"1A\""
blo "0,800"
tm "TableTextMgr"
)
)
*153 (TextMatrixItem
uid 2107,0
va (VaSet
vasetType 1
fg "0,65535,65535"
bg "0,65535,65535"
)
col 1
row 28
text (Text
uid 2108,0
va (VaSet
)
xt "0,0,2400,1000"
st "X\"1B\""
blo "0,800"
tm "TableTextMgr"
)
)
*154 (TextMatrixItem
uid 2109,0
va (VaSet
vasetType 1
fg "0,65535,65535"
bg "0,65535,65535"
)
col 1
row 29
text (Text
uid 2110,0
va (VaSet
)
xt "0,0,2500,1000"
st "X\"1C\""
blo "0,800"
tm "TableTextMgr"
)
)
*155 (TextMatrixItem
uid 2111,0
va (VaSet
vasetType 1
fg "0,65535,65535"
bg "0,65535,65535"
)
col 1
row 30
text (Text
uid 2112,0
va (VaSet
)
xt "0,0,2500,1000"
st "X\"1D\""
blo "0,800"
tm "TableTextMgr"
)
)
*156 (TextMatrixItem
uid 2113,0
va (VaSet
vasetType 1
fg "0,65535,65535"
bg "0,65535,65535"
)
col 1
row 31
text (Text
uid 2114,0
va (VaSet
)
xt "0,0,2400,1000"
st "X\"1E\""
blo "0,800"
tm "TableTextMgr"
)
)
*157 (TextMatrixItem
uid 2115,0
va (VaSet
vasetType 1
fg "0,65535,65535"
bg "0,65535,65535"
)
col 1
row 32
text (Text
uid 2116,0
va (VaSet
)
xt "0,0,2400,1000"
st "X\"1F\""
blo "0,800"
tm "TableTextMgr"
)
)
*158 (TextMatrixItem
uid 2117,0
va (VaSet
vasetType 1
fg "0,65535,65535"
bg "0,65535,65535"
)
col 1
row 33
text (Text
uid 2118,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"20\""
blo "0,800"
tm "TableTextMgr"
)
)
*159 (TextMatrixItem
uid 2119,0
va (VaSet
vasetType 1
fg "0,65535,65535"
bg "0,65535,65535"
)
col 1
row 34
text (Text
uid 2120,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"21\""
blo "0,800"
tm "TableTextMgr"
)
)
*160 (TextMatrixItem
uid 2121,0
va (VaSet
vasetType 1
fg "0,65535,65535"
bg "0,65535,65535"
)
col 1
row 35
text (Text
uid 2122,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"22\""
blo "0,800"
tm "TableTextMgr"
)
)
*161 (TextMatrixItem
uid 2123,0
va (VaSet
vasetType 1
fg "0,65535,65535"
bg "0,65535,65535"
)
col 1
row 36
text (Text
uid 2124,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"23\""
blo "0,800"
tm "TableTextMgr"
)
)
*162 (TextMatrixItem
uid 2125,0
va (VaSet
vasetType 1
fg "0,65535,65535"
bg "0,65535,65535"
)
col 1
row 37
text (Text
uid 2126,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"24\""
blo "0,800"
tm "TableTextMgr"
)
)
*163 (TextMatrixItem
uid 2127,0
va (VaSet
vasetType 1
fg "0,65535,65535"
bg "0,65535,65535"
)
col 1
row 38
text (Text
uid 2128,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"25\""
blo "0,800"
tm "TableTextMgr"
)
)
*164 (TextMatrixItem
uid 2129,0
va (VaSet
vasetType 1
fg "0,65535,65535"
bg "0,65535,65535"
)
col 1
row 39
text (Text
uid 2130,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"26\""
blo "0,800"
tm "TableTextMgr"
)
)
*165 (TextMatrixItem
uid 2131,0
va (VaSet
vasetType 1
fg "0,65535,65535"
bg "0,65535,65535"
)
col 1
row 40
text (Text
uid 2132,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"27\""
blo "0,800"
tm "TableTextMgr"
)
)
]
colStart 1
rowStart 1
defaultColumnWidth 100
defaultRowHeight 40
columnWidths [
20
100
100
100
100
]
rowHeight [
20
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
]
inputColumnLimit 2
)
]
bg "65535,65535,65535"
grid (Grid
origin "0,0"
isVisible 1
isActive 1
xSpacing 1000
xySpacing 1000
xShown 1
yShown 1
color "65535,0,0"
)
packageList *166 (PackageList
uid 22,0
stg "VerticalLayoutStrategy"
textVec [
*167 (Text
uid 23,0
va (VaSet
)
xt "0,0,5100,1000"
st "Package List"
blo "0,800"
)
*168 (MLText
uid 24,0
va (VaSet
)
xt "0,1000,10800,4000"
st "LIBRARY ieee;
USE ieee.std_logic_1164.all;
USE ieee.std_logic_arith.all;"
tm "PackageList"
)
]
)
compDirBlock (MlTextGroup
uid 25,0
stg "VerticalLayoutStrategy"
textVec [
*169 (Text
uid 26,0
va (VaSet
)
xt "20000,0,27700,1000"
st "Compiler Directives"
blo "20000,800"
)
*170 (Text
uid 27,0
va (VaSet
)
xt "20000,1000,28900,2000"
st "Pre-module directives:"
blo "20000,1800"
)
*171 (MLText
uid 28,0
va (VaSet
)
xt "20000,2000,27600,4000"
st "`resetall
`timescale 1ns/10ps"
tm "TtCompilerDirectivesTextMgr"
)
*172 (Text
uid 29,0
va (VaSet
)
xt "20000,4000,29200,5000"
st "Post-module directives:"
blo "20000,4800"
)
*173 (MLText
uid 30,0
va (VaSet
)
xt "20000,0,20000,0"
tm "TtCompilerDirectivesTextMgr"
)
*174 (Text
uid 31,0
va (VaSet
)
xt "20000,5000,29000,6000"
st "End-module directives:"
blo "20000,5800"
)
*175 (MLText
uid 32,0
va (VaSet
)
xt "20000,6000,20000,6000"
tm "TtCompilerDirectivesTextMgr"
)
]
associable 1
)
windowSize "0,0,2561,1408"
viewArea "0,0,2350,1269"
cachedDiagramExtent "0,0,0,0"
pageBreakOrigin "0,0"
defaultInputHdrTextMatrixItem (TextMatrixItem
va (VaSet
vasetType 1
fg "39936,56832,65280"
bg "39936,56832,65280"
)
col -1
row -1
text (Text
va (VaSet
)
blo "0,0"
tm "TableTextMgr"
)
)
defaultOutputHdrTextMatrixItem (TextMatrixItem
va (VaSet
vasetType 1
fg "65535,65535,37120"
bg "65535,65535,37120"
)
col -1
row -1
text (Text
va (VaSet
)
blo "0,0"
tm "TableTextMgr"
)
)
defaultInputColTextMatrixItem (TextMatrixItem
va (VaSet
vasetType 1
fg "0,65535,65535"
bg "0,65535,65535"
)
col -1
row -1
text (Text
va (VaSet
)
blo "0,0"
tm "TableTextMgr"
)
)
defaultOutputColTextMatrixItem (TextMatrixItem
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col -1
row -1
text (Text
va (VaSet
)
blo "0,0"
tm "TableTextMgr"
)
)
archDeclarativeBlock *176 (BiTextGroup
uid 33,0
stg "VerticalLayoutStrategy"
first (Text
uid 34,0
va (VaSet
font "arial,12,1"
)
xt "0,0,16700,1500"
st "Architecture Declarations"
blo "0,1200"
)
second (MLText
uid 35,0
va (VaSet
font "arial,12,0"
)
xt "0,1500,1000,3000"
st " "
tm "CommentText"
)
)
archConcurrentStatementBlock *177 (BiTextGroup
uid 36,0
stg "VerticalLayoutStrategy"
first (Text
uid 37,0
va (VaSet
font "arial,12,1"
)
xt "0,0,15400,1500"
st "Concurrent Statements"
blo "0,1200"
)
second (MLText
uid 38,0
va (VaSet
font "arial,12,0"
)
xt "0,1500,1000,3000"
st " "
tm "CommentText"
)
)
processDeclarativeBlock *178 (BiTextGroup
uid 39,0
stg "VerticalLayoutStrategy"
first (Text
uid 40,0
va (VaSet
font "arial,12,1"
)
xt "0,0,14400,1500"
st "Process Declarations"
blo "0,1200"
)
second (MLText
uid 41,0
va (VaSet
font "arial,12,0"
)
xt "0,1500,1000,3000"
st " "
tm "CommentText"
)
)
sensitivityListBlock *179 (BiTextGroup
uid 42,0
stg "VerticalLayoutStrategy"
first (Text
uid 43,0
va (VaSet
font "arial,12,1"
)
xt "0,0,9600,1500"
st "Sensitivity List"
blo "0,1200"
)
second (MLText
uid 44,0
va (VaSet
font "arial,12,0"
)
xt "0,1500,0,1500"
tm "CommentText"
)
)
globalActionsBlock *180 (BiTextGroup
uid 45,0
stg "VerticalLayoutStrategy"
first (Text
uid 46,0
va (VaSet
font "arial,12,1"
)
xt "0,0,10200,1500"
st "Globals Actions"
blo "0,1200"
)
second (MLText
uid 47,0
va (VaSet
font "arial,12,0"
)
xt "0,1500,0,1500"
tm "CommentText"
)
)
genChar *181 (TtGenChar
uid 48,0
machineMode 1
hdlStyle 1
resetActions ""
resetMode 1
resetName ""
resetCondition ""
verilogResetSensitivity ""
resetPolarity 0
clockPolarity 0
clockSigName ""
clockCondition ""
insertSetresetPragma 0
setresetPragma 0
insertCasePragma 0
casePragma 0
caseType 0
blockType 0
autoSensitivityList 1
generateDefaultInCase 1
)
commonDM (CommonDM
ldm (LogicalDM
emptyRow *182 (LEmptyRow
)
uid 51,0
optionalChildren [
*183 (RefLabelRowHdr
)
*184 (TitleRowHdr
)
*185 (FilterRowHdr
)
*186 (RefLabelColHdr
tm "RefLabelColHdrMgr"
)
*187 (RowExpandColHdr
tm "RowExpandColHdrMgr"
)
*188 (GroupColHdr
tm "GroupColHdrMgr"
)
*189 (NameColHdr
tm "TruthTableNameColHdrMgr"
)
*190 (ModeColHdr
tm "TruthTableModeColHdrMgr"
)
*191 (TypeColHdr
tm "TruthTableTypeColHdrMgr"
)
*192 (BoundsColHdr
tm "TruthTableBoundsColHdrMgr"
)
*193 (InitColHdr
tm "TruthTableInitColHdrMgr"
)
*194 (EolColHdr
tm "TruthTableEolColHdrMgr"
)
*195 (LeafLogPort
port (LogicalPort
lang 2
decl (Decl
n "idx"
t "std_logic_vector"
b "(7 DOWNTO 0)"
o 1
i "X\"01\""
)
)
uid 126,0
scheme 0
)
*196 (LeafLogPort
port (LogicalPort
lang 2
m 1
decl (Decl
n "victory_x"
t "std_logic_vector"
b "(7 DOWNTO 0)"
o 3
i "X\"01\""
)
)
uid 128,0
scheme 0
)
*197 (LeafLogPort
port (LogicalPort
lang 2
m 1
decl (Decl
n "victory_y"
t "std_logic_vector"
b "(7 DOWNTO 0)"
o 4
i "X\"04\""
)
)
uid 130,0
scheme 0
)
*198 (LeafLogPort
port (LogicalPort
lang 2
m 1
decl (Decl
n "victory_color"
t "std_logic_vector"
b "(23 DOWNTO 0)"
o 2
i "X\"0000FF\""
)
)
uid 132,0
scheme 0
)
]
)
pdm (PhysicalDM
displayShortBounds 1
editShortBounds 1
uid 64,0
optionalChildren [
*199 (Sheet
sheetRow (SheetRow
headerVa (MVa
cellColor "49152,49152,49152"
fontColor "0,0,0"
font "Tahoma,10,0"
)
cellVa (MVa
cellColor "65535,65535,65535"
fontColor "0,0,0"
font "Tahoma,10,0"
)
groupVa (MVa
cellColor "39936,56832,65280"
fontColor "0,0,0"
font "Tahoma,10,0"
)
emptyMRCItem *200 (MRCItem
litem &182
pos 4
dimension 20
)
uid 66,0
optionalChildren [
*201 (MRCItem
litem &183
pos 0
dimension 20
uid 67,0
)
*202 (MRCItem
litem &184
pos 1
dimension 23
uid 68,0
)
*203 (MRCItem
litem &185
pos 2
hidden 1
dimension 20
uid 69,0
)
*204 (MRCItem
litem &195
pos 0
dimension 20
uid 127,0
)
*205 (MRCItem
litem &196
pos 1
dimension 20
uid 129,0
)
*206 (MRCItem
litem &197
pos 2
dimension 20
uid 131,0
)
*207 (MRCItem
litem &198
pos 3
dimension 20
uid 133,0
)
]
)
sheetCol (SheetCol
propVa (MVa
cellColor "0,49152,49152"
fontColor "0,0,0"
font "Tahoma,10,0"
textAngle 90
)
uid 70,0
optionalChildren [
*208 (MRCItem
litem &186
pos 0
dimension 20
uid 71,0
)
*209 (MRCItem
litem &188
pos 1
dimension 50
uid 72,0
)
*210 (MRCItem
litem &189
pos 2
dimension 100
uid 73,0
)
*211 (MRCItem
litem &190
pos 3
dimension 50
uid 74,0
)
*212 (MRCItem
litem &191
pos 4
dimension 100
uid 75,0
)
*213 (MRCItem
litem &192
pos 5
dimension 100
uid 76,0
)
*214 (MRCItem
litem &193
pos 6
dimension 50
uid 77,0
)
*215 (MRCItem
litem &194
pos 7
dimension 80
uid 78,0
)
]
)
fixedCol 4
fixedRow 2
name "Ports"
uid 65,0
vaOverrides [
]
)
]
)
uid 50,0
)
genericsCommonDM (CommonDM
ldm (LogicalDM
emptyRow *216 (LEmptyRow
)
uid 80,0
optionalChildren [
*217 (RefLabelRowHdr
)
*218 (TitleRowHdr
)
*219 (FilterRowHdr
)
*220 (RefLabelColHdr
tm "RefLabelColHdrMgr"
)
*221 (RowExpandColHdr
tm "RowExpandColHdrMgr"
)
*222 (GroupColHdr
tm "GroupColHdrMgr"
)
*223 (NameColHdr
tm "GenericNameColHdrMgr"
)
*224 (TypeColHdr
tm "GenericTypeColHdrMgr"
)
*225 (InitColHdr
tm "GenericValueColHdrMgr"
)
*226 (PragmaColHdr
tm "GenericPragmaColHdrMgr"
)
*227 (EolColHdr
tm "GenericEolColHdrMgr"
)
]
)
pdm (PhysicalDM
displayShortBounds 1
editShortBounds 1
uid 92,0
optionalChildren [
*228 (Sheet
sheetRow (SheetRow
headerVa (MVa
cellColor "49152,49152,49152"
fontColor "0,0,0"
font "Tahoma,10,0"
)
cellVa (MVa
cellColor "65535,65535,65535"
fontColor "0,0,0"
font "Tahoma,10,0"
)
groupVa (MVa
cellColor "39936,56832,65280"
fontColor "0,0,0"
font "Tahoma,10,0"
)
emptyMRCItem *229 (MRCItem
litem &216
pos 0
dimension 20
)
uid 94,0
optionalChildren [
*230 (MRCItem
litem &217
pos 0
dimension 20
uid 95,0
)
*231 (MRCItem
litem &218
pos 1
dimension 23
uid 96,0
)
*232 (MRCItem
litem &219
pos 2
hidden 1
dimension 20
uid 97,0
)
]
)
sheetCol (SheetCol
propVa (MVa
cellColor "0,49152,49152"
fontColor "0,0,0"
font "Tahoma,10,0"
textAngle 90
)
uid 98,0
optionalChildren [
*233 (MRCItem
litem &220
pos 0
dimension 20
uid 99,0
)
*234 (MRCItem
litem &222
pos 1
dimension 50
uid 100,0
)
*235 (MRCItem
litem &223
pos 2
dimension 100
uid 101,0
)
*236 (MRCItem
litem &224
pos 3
dimension 100
uid 102,0
)
*237 (MRCItem
litem &225
pos 4
dimension 50
uid 103,0
)
*238 (MRCItem
litem &226
pos 5
dimension 50
uid 104,0
)
*239 (MRCItem
litem &227
pos 6
dimension 80
uid 105,0
)
]
)
fixedCol 3
fixedRow 2
name "Ports"
uid 93,0
vaOverrides [
]
)
]
)
uid 79,0
type 1
)
activeModelName "TruthTableDiag:CDM"
lastUid 2155,0
)
