DocumentHdrVersion "1.1"
Header (DocumentHdr
version 2
dialect 2
dmPackageRefs [
(DmPackageRef
library "ieee"
unitName "std_logic_1164"
)
(DmPackageRef
library "ieee"
unitName "std_logic_arith"
)
]
libraryRefs [
"ieee"
]
)
version "13.1"
appVersion "2019.3 (Build 4)"
model (TruthTableDiag
VExpander (VariableExpander
vvMap [
(vvPair
variable "HDLDir"
value "P:\\20\\alien_game\\alien_game_lib\\hdl"
)
(vvPair
variable "HDSDir"
value "P:\\20\\alien_game\\alien_game_lib\\hds"
)
(vvPair
variable "SideDataDesignDir"
value "P:\\20\\alien_game\\alien_game_lib\\hds\\c6_b1_victory_heart\\tbl.tt.info"
)
(vvPair
variable "SideDataUserDir"
value "P:\\20\\alien_game\\alien_game_lib\\hds\\c6_b1_victory_heart\\tbl.tt.user"
)
(vvPair
variable "SourceDir"
value "P:\\20\\alien_game\\alien_game_lib\\hds"
)
(vvPair
variable "appl"
value "HDL Designer"
)
(vvPair
variable "arch_name"
value "tbl"
)
(vvPair
variable "config"
value "%(unit)_%(view)_config"
)
(vvPair
variable "d"
value "P:\\20\\alien_game\\alien_game_lib\\hds\\c6_b1_victory_heart"
)
(vvPair
variable "d_logical"
value "P:\\20\\alien_game\\alien_game_lib\\hds\\c6_b1_victory_heart"
)
(vvPair
variable "date"
value " 4.03.2026"
)
(vvPair
variable "day"
value "ke"
)
(vvPair
variable "day_long"
value "keskiviikko"
)
(vvPair
variable "dd"
value "04"
)
(vvPair
variable "entity_name"
value "c6_b1_victory_heart"
)
(vvPair
variable "ext"
value "<TBD>"
)
(vvPair
variable "f"
value "tbl.tt"
)
(vvPair
variable "f_logical"
value "tbl.tt"
)
(vvPair
variable "f_noext"
value "tbl"
)
(vvPair
variable "graphical_source_author"
value "ptjiya"
)
(vvPair
variable "graphical_source_date"
value " 4.03.2026"
)
(vvPair
variable "graphical_source_group"
value "UNKNOWN"
)
(vvPair
variable "graphical_source_host"
value "HTC219-307-SPC"
)
(vvPair
variable "graphical_source_time"
value "15:31:58"
)
(vvPair
variable "group"
value "UNKNOWN"
)
(vvPair
variable "host"
value "HTC219-307-SPC"
)
(vvPair
variable "language"
value "VHDL"
)
(vvPair
variable "library"
value "alien_game_lib"
)
(vvPair
variable "library_downstream_ModelSimCompiler"
value "$HDS_PROJECT_DIR/alien_game_lib/work"
)
(vvPair
variable "library_downstream_QuestaSimCompiler"
value "$HDS_PROJECT_DIR/alien_game_lib/work"
)
(vvPair
variable "library_downstream_SvAssistantInvoke"
value "$HDS_PROJECT_DIR/alien_game_lib/svassistant"
)
(vvPair
variable "mm"
value "03"
)
(vvPair
variable "module_name"
value "c6_b1_victory_heart"
)
(vvPair
variable "month"
value "maalis"
)
(vvPair
variable "month_long"
value "maaliskuu"
)
(vvPair
variable "p"
value "P:\\20\\alien_game\\alien_game_lib\\hds\\c6_b1_victory_heart\\tbl.tt"
)
(vvPair
variable "p_logical"
value "P:\\20\\alien_game\\alien_game_lib\\hds\\c6_b1_victory_heart\\tbl.tt"
)
(vvPair
variable "package_name"
value "<Undefined Variable>"
)
(vvPair
variable "project_name"
value "alien_game"
)
(vvPair
variable "series"
value "HDL Designer Series"
)
(vvPair
variable "task_DesignCompilerPath"
value "<TBD>"
)
(vvPair
variable "task_LeonardoPath"
value "<TBD>"
)
(vvPair
variable "task_ModelSimPath"
value "C:\\Apps\\MODELSIM DE-64 2022.3\\win64pe"
)
(vvPair
variable "task_NC-SimPath"
value "<TBD>"
)
(vvPair
variable "task_PrecisionRTLPath"
value "<TBD>"
)
(vvPair
variable "task_QuestaSimPath"
value "<TBD>"
)
(vvPair
variable "task_VCSPath"
value "<TBD>"
)
(vvPair
variable "this_ext"
value "tt"
)
(vvPair
variable "this_file"
value "tbl"
)
(vvPair
variable "this_file_logical"
value "tbl"
)
(vvPair
variable "time"
value "15:31:58"
)
(vvPair
variable "unit"
value "c6_b1_victory_heart"
)
(vvPair
variable "user"
value "ptjiya"
)
(vvPair
variable "version"
value "2019.3 (Build 4)"
)
(vvPair
variable "view"
value "tbl"
)
(vvPair
variable "year"
value "2026"
)
(vvPair
variable "yy"
value "26"
)
]
)
LanguageMgr "Vhdl93LangMgr"
uid 49,0
optionalChildren [
*1 (TruthTable
uid 1,0
optionalChildren [
*2 (TextMatrixItem
uid 2,0
va (VaSet
vasetType 1
fg "39936,56832,65280"
bg "39936,56832,65280"
)
col 1
row 1
text (Text
uid 3,0
va (VaSet
)
xt "0,0,1400,1000"
st "idx"
blo "0,800"
tm "TableTextMgr"
)
)
*3 (TextMatrixItem
uid 6,0
va (VaSet
vasetType 1
fg "0,65535,65535"
bg "0,65535,65535"
)
col 1
row 2
text (Text
uid 7,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"00\""
blo "0,800"
tm "TableTextMgr"
)
)
*4 (TextMatrixItem
uid 8,0
va (VaSet
vasetType 1
fg "0,65535,65535"
bg "0,65535,65535"
)
col 1
row 3
text (Text
uid 9,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"01\""
blo "0,800"
tm "TableTextMgr"
)
)
*5 (TextMatrixItem
uid 10,0
va (VaSet
vasetType 1
fg "0,65535,65535"
bg "0,65535,65535"
)
col 1
row 4
text (Text
uid 11,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"02\""
blo "0,800"
tm "TableTextMgr"
)
)
*6 (TextMatrixItem
uid 106,0
va (VaSet
vasetType 1
fg "65535,65535,37120"
bg "65535,65535,37120"
)
col 2
row 1
text (Text
uid 107,0
va (VaSet
)
xt "0,0,3500,1000"
st "victory_x"
blo "0,800"
tm "TableTextMgr"
)
)
*7 (TextMatrixItem
uid 108,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 2
row 2
text (Text
uid 109,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"01\""
blo "0,800"
tm "TableTextMgr"
)
)
*8 (TextMatrixItem
uid 116,0
va (VaSet
vasetType 1
fg "65535,65535,37120"
bg "65535,65535,37120"
)
col 3
row 1
text (Text
uid 117,0
va (VaSet
)
xt "0,0,3500,1000"
st "victory_y"
blo "0,800"
tm "TableTextMgr"
)
)
*9 (TextMatrixItem
uid 118,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 3
row 2
text (Text
uid 119,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"04\""
blo "0,800"
tm "TableTextMgr"
)
)
*10 (TextMatrixItem
uid 120,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 3
row 3
text (Text
uid 121,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"08\""
blo "0,800"
tm "TableTextMgr"
)
)
*11 (TextMatrixItem
uid 122,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 3
row 4
text (Text
uid 123,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"10\""
blo "0,800"
tm "TableTextMgr"
)
)
*12 (TextMatrixItem
uid 157,0
va (VaSet
vasetType 1
fg "0,65535,65535"
bg "0,65535,65535"
)
col 1
row 5
text (Text
uid 158,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"03\""
blo "0,800"
tm "TableTextMgr"
)
)
*13 (TextMatrixItem
uid 159,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 2
row 5
text (Text
uid 160,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"02\""
blo "0,800"
tm "TableTextMgr"
)
)
*14 (TextMatrixItem
uid 161,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 3
row 5
text (Text
uid 162,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"02\""
blo "0,800"
tm "TableTextMgr"
)
)
*15 (TextMatrixItem
uid 177,0
va (VaSet
vasetType 1
fg "0,65535,65535"
bg "0,65535,65535"
)
col 1
row 6
text (Text
uid 178,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"04\""
blo "0,800"
tm "TableTextMgr"
)
)
*16 (TextMatrixItem
uid 181,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 3
row 6
text (Text
uid 182,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"04\""
blo "0,800"
tm "TableTextMgr"
)
)
*17 (TextMatrixItem
uid 185,0
va (VaSet
vasetType 1
fg "0,65535,65535"
bg "0,65535,65535"
)
col 1
row 7
text (Text
uid 186,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"05\""
blo "0,800"
tm "TableTextMgr"
)
)
*18 (TextMatrixItem
uid 189,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 3
row 7
text (Text
uid 190,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"08\""
blo "0,800"
tm "TableTextMgr"
)
)
*19 (TextMatrixItem
uid 193,0
va (VaSet
vasetType 1
fg "0,65535,65535"
bg "0,65535,65535"
)
col 1
row 8
text (Text
uid 194,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"06\""
blo "0,800"
tm "TableTextMgr"
)
)
*20 (TextMatrixItem
uid 197,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 3
row 8
text (Text
uid 198,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"10\""
blo "0,800"
tm "TableTextMgr"
)
)
*21 (TextMatrixItem
uid 201,0
va (VaSet
vasetType 1
fg "0,65535,65535"
bg "0,65535,65535"
)
col 1
row 9
text (Text
uid 202,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"07\""
blo "0,800"
tm "TableTextMgr"
)
)
*22 (TextMatrixItem
uid 205,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 3
row 9
text (Text
uid 206,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"20\""
blo "0,800"
tm "TableTextMgr"
)
)
*23 (TextMatrixItem
uid 272,0
va (VaSet
vasetType 1
fg "0,65535,65535"
bg "0,65535,65535"
)
col 1
row 11
text (Text
uid 273,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"09\""
blo "0,800"
tm "TableTextMgr"
)
)
*24 (TextMatrixItem
uid 276,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 3
row 11
text (Text
uid 277,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"04\""
blo "0,800"
tm "TableTextMgr"
)
)
*25 (TextMatrixItem
uid 280,0
va (VaSet
vasetType 1
fg "0,65535,65535"
bg "0,65535,65535"
)
col 1
row 10
text (Text
uid 281,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"08\""
blo "0,800"
tm "TableTextMgr"
)
)
*26 (TextMatrixItem
uid 282,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 2
row 10
text (Text
uid 283,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"04\""
blo "0,800"
tm "TableTextMgr"
)
)
*27 (TextMatrixItem
uid 284,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 3
row 10
text (Text
uid 285,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"02\""
blo "0,800"
tm "TableTextMgr"
)
)
*28 (TextMatrixItem
uid 288,0
va (VaSet
vasetType 1
fg "0,65535,65535"
bg "0,65535,65535"
)
col 1
row 12
text (Text
uid 289,0
va (VaSet
)
xt "0,0,2400,1000"
st "X\"0A\""
blo "0,800"
tm "TableTextMgr"
)
)
*29 (TextMatrixItem
uid 292,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 3
row 12
text (Text
uid 293,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"08\""
blo "0,800"
tm "TableTextMgr"
)
)
*30 (TextMatrixItem
uid 296,0
va (VaSet
vasetType 1
fg "0,65535,65535"
bg "0,65535,65535"
)
col 1
row 13
text (Text
uid 297,0
va (VaSet
)
xt "0,0,2400,1000"
st "X\"0B\""
blo "0,800"
tm "TableTextMgr"
)
)
*31 (TextMatrixItem
uid 300,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 3
row 13
text (Text
uid 301,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"10\""
blo "0,800"
tm "TableTextMgr"
)
)
*32 (TextMatrixItem
uid 320,0
va (VaSet
vasetType 1
fg "0,65535,65535"
bg "0,65535,65535"
)
col 1
row 14
text (Text
uid 321,0
va (VaSet
)
xt "0,0,2500,1000"
st "X\"0C\""
blo "0,800"
tm "TableTextMgr"
)
)
*33 (TextMatrixItem
uid 324,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 3
row 14
text (Text
uid 325,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"20\""
blo "0,800"
tm "TableTextMgr"
)
)
*34 (TextMatrixItem
uid 344,0
va (VaSet
vasetType 1
fg "0,65535,65535"
bg "0,65535,65535"
)
col 1
row 15
text (Text
uid 345,0
va (VaSet
)
xt "0,0,2500,1000"
st "X\"0D\""
blo "0,800"
tm "TableTextMgr"
)
)
*35 (TextMatrixItem
uid 348,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 3
row 15
text (Text
uid 349,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"40\""
blo "0,800"
tm "TableTextMgr"
)
)
*36 (TextMatrixItem
uid 394,0
va (VaSet
vasetType 1
fg "0,65535,65535"
bg "0,65535,65535"
)
col 1
row 16
text (Text
uid 395,0
va (VaSet
)
xt "0,0,2400,1000"
st "X\"0E\""
blo "0,800"
tm "TableTextMgr"
)
)
*37 (TextMatrixItem
uid 396,0
va (VaSet
vasetType 1
fg "0,65535,65535"
bg "0,65535,65535"
)
col 1
row 17
text (Text
uid 397,0
va (VaSet
)
xt "0,0,2400,1000"
st "X\"0F\""
blo "0,800"
tm "TableTextMgr"
)
)
*38 (TextMatrixItem
uid 418,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 3
row 16
text (Text
uid 419,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"04\""
blo "0,800"
tm "TableTextMgr"
)
)
*39 (TextMatrixItem
uid 420,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 3
row 17
text (Text
uid 421,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"08\""
blo "0,800"
tm "TableTextMgr"
)
)
*40 (TextMatrixItem
uid 422,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 3
row 18
text (Text
uid 423,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"10\""
blo "0,800"
tm "TableTextMgr"
)
)
*41 (TextMatrixItem
uid 424,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 3
row 19
text (Text
uid 425,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"20\""
blo "0,800"
tm "TableTextMgr"
)
)
*42 (TextMatrixItem
uid 426,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 3
row 20
text (Text
uid 427,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"40\""
blo "0,800"
tm "TableTextMgr"
)
)
*43 (TextMatrixItem
uid 580,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 3
row 22
text (Text
uid 581,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"04\""
blo "0,800"
tm "TableTextMgr"
)
)
*44 (TextMatrixItem
uid 582,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 3
row 23
text (Text
uid 583,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"08\""
blo "0,800"
tm "TableTextMgr"
)
)
*45 (TextMatrixItem
uid 584,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 3
row 24
text (Text
uid 585,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"10\""
blo "0,800"
tm "TableTextMgr"
)
)
*46 (TextMatrixItem
uid 586,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 3
row 25
text (Text
uid 587,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"20\""
blo "0,800"
tm "TableTextMgr"
)
)
*47 (TextMatrixItem
uid 588,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 3
row 26
text (Text
uid 589,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"40\""
blo "0,800"
tm "TableTextMgr"
)
)
*48 (TextMatrixItem
uid 977,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 2
row 6
text (Text
uid 978,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"02\""
blo "0,800"
tm "TableTextMgr"
)
)
*49 (TextMatrixItem
uid 979,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 2
row 7
text (Text
uid 980,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"02\""
blo "0,800"
tm "TableTextMgr"
)
)
*50 (TextMatrixItem
uid 981,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 2
row 8
text (Text
uid 982,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"02\""
blo "0,800"
tm "TableTextMgr"
)
)
*51 (TextMatrixItem
uid 983,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 2
row 9
text (Text
uid 984,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"02\""
blo "0,800"
tm "TableTextMgr"
)
)
*52 (TextMatrixItem
uid 985,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 2
row 11
text (Text
uid 986,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"04\""
blo "0,800"
tm "TableTextMgr"
)
)
*53 (TextMatrixItem
uid 987,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 2
row 12
text (Text
uid 988,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"04\""
blo "0,800"
tm "TableTextMgr"
)
)
*54 (TextMatrixItem
uid 989,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 2
row 13
text (Text
uid 990,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"04\""
blo "0,800"
tm "TableTextMgr"
)
)
*55 (TextMatrixItem
uid 991,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 2
row 14
text (Text
uid 992,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"04\""
blo "0,800"
tm "TableTextMgr"
)
)
*56 (TextMatrixItem
uid 993,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 2
row 15
text (Text
uid 994,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"04\""
blo "0,800"
tm "TableTextMgr"
)
)
*57 (TextMatrixItem
uid 995,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 2
row 16
text (Text
uid 996,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"08\""
blo "0,800"
tm "TableTextMgr"
)
)
*58 (TextMatrixItem
uid 997,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 2
row 17
text (Text
uid 998,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"08\""
blo "0,800"
tm "TableTextMgr"
)
)
*59 (TextMatrixItem
uid 999,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 2
row 18
text (Text
uid 1000,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"08\""
blo "0,800"
tm "TableTextMgr"
)
)
*60 (TextMatrixItem
uid 1001,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 2
row 19
text (Text
uid 1002,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"08\""
blo "0,800"
tm "TableTextMgr"
)
)
*61 (TextMatrixItem
uid 1003,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 2
row 20
text (Text
uid 1004,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"08\""
blo "0,800"
tm "TableTextMgr"
)
)
*62 (TextMatrixItem
uid 1005,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 2
row 21
text (Text
uid 1006,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"08\""
blo "0,800"
tm "TableTextMgr"
)
)
*63 (TextMatrixItem
uid 1007,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 2
row 22
text (Text
uid 1008,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"10\""
blo "0,800"
tm "TableTextMgr"
)
)
*64 (TextMatrixItem
uid 1009,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 2
row 23
text (Text
uid 1010,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"10\""
blo "0,800"
tm "TableTextMgr"
)
)
*65 (TextMatrixItem
uid 1011,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 2
row 24
text (Text
uid 1012,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"10\""
blo "0,800"
tm "TableTextMgr"
)
)
*66 (TextMatrixItem
uid 1013,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 2
row 25
text (Text
uid 1014,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"10\""
blo "0,800"
tm "TableTextMgr"
)
)
*67 (TextMatrixItem
uid 1015,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 2
row 26
text (Text
uid 1016,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"10\""
blo "0,800"
tm "TableTextMgr"
)
)
*68 (TextMatrixItem
uid 1017,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 2
row 27
text (Text
uid 1018,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"10\""
blo "0,800"
tm "TableTextMgr"
)
)
*69 (TextMatrixItem
uid 1045,0
va (VaSet
vasetType 1
fg "0,65535,65535"
bg "0,65535,65535"
)
col 1
row 18
text (Text
uid 1046,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"10\""
blo "0,800"
tm "TableTextMgr"
)
)
*70 (TextMatrixItem
uid 1047,0
va (VaSet
vasetType 1
fg "0,65535,65535"
bg "0,65535,65535"
)
col 1
row 19
text (Text
uid 1048,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"11\""
blo "0,800"
tm "TableTextMgr"
)
)
*71 (TextMatrixItem
uid 1049,0
va (VaSet
vasetType 1
fg "0,65535,65535"
bg "0,65535,65535"
)
col 1
row 20
text (Text
uid 1050,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"12\""
blo "0,800"
tm "TableTextMgr"
)
)
*72 (TextMatrixItem
uid 1051,0
va (VaSet
vasetType 1
fg "0,65535,65535"
bg "0,65535,65535"
)
col 1
row 21
text (Text
uid 1052,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"13\""
blo "0,800"
tm "TableTextMgr"
)
)
*73 (TextMatrixItem
uid 1053,0
va (VaSet
vasetType 1
fg "0,65535,65535"
bg "0,65535,65535"
)
col 1
row 22
text (Text
uid 1054,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"14\""
blo "0,800"
tm "TableTextMgr"
)
)
*74 (TextMatrixItem
uid 1055,0
va (VaSet
vasetType 1
fg "0,65535,65535"
bg "0,65535,65535"
)
col 1
row 23
text (Text
uid 1056,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"15\""
blo "0,800"
tm "TableTextMgr"
)
)
*75 (TextMatrixItem
uid 1057,0
va (VaSet
vasetType 1
fg "0,65535,65535"
bg "0,65535,65535"
)
col 1
row 24
text (Text
uid 1058,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"16\""
blo "0,800"
tm "TableTextMgr"
)
)
*76 (TextMatrixItem
uid 1059,0
va (VaSet
vasetType 1
fg "0,65535,65535"
bg "0,65535,65535"
)
col 1
row 25
text (Text
uid 1060,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"17\""
blo "0,800"
tm "TableTextMgr"
)
)
*77 (TextMatrixItem
uid 1061,0
va (VaSet
vasetType 1
fg "0,65535,65535"
bg "0,65535,65535"
)
col 1
row 26
text (Text
uid 1062,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"18\""
blo "0,800"
tm "TableTextMgr"
)
)
*78 (TextMatrixItem
uid 1063,0
va (VaSet
vasetType 1
fg "0,65535,65535"
bg "0,65535,65535"
)
col 1
row 27
text (Text
uid 1064,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"19\""
blo "0,800"
tm "TableTextMgr"
)
)
*79 (TextMatrixItem
uid 1136,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 4
row 2
text (Text
uid 1137,0
va (VaSet
)
xt "0,0,4100,1000"
st "X\"FF0000\""
blo "0,800"
tm "TableTextMgr"
)
)
*80 (TextMatrixItem
uid 1367,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 2
row 3
text (Text
uid 1368,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"01\""
blo "0,800"
tm "TableTextMgr"
)
)
*81 (TextMatrixItem
uid 1369,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 2
row 4
text (Text
uid 1370,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"01\""
blo "0,800"
tm "TableTextMgr"
)
)
*82 (TextMatrixItem
uid 1373,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 3
row 27
text (Text
uid 1374,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"80\""
blo "0,800"
tm "TableTextMgr"
)
)
*83 (TextMatrixItem
uid 1375,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 3
row 21
text (Text
uid 1376,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"80\""
blo "0,800"
tm "TableTextMgr"
)
)
*84 (TextMatrixItem
uid 1402,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 4
row 3
text (Text
uid 1403,0
va (VaSet
)
xt "0,0,4100,1000"
st "X\"FF0000\""
blo "0,800"
tm "TableTextMgr"
)
)
*85 (TextMatrixItem
uid 1404,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 4
row 4
text (Text
uid 1405,0
va (VaSet
)
xt "0,0,4100,1000"
st "X\"FF0000\""
blo "0,800"
tm "TableTextMgr"
)
)
*86 (TextMatrixItem
uid 1406,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 4
row 5
text (Text
uid 1407,0
va (VaSet
)
xt "0,0,4100,1000"
st "X\"FF0000\""
blo "0,800"
tm "TableTextMgr"
)
)
*87 (TextMatrixItem
uid 1408,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 4
row 6
text (Text
uid 1409,0
va (VaSet
)
xt "0,0,4100,1000"
st "X\"FF0000\""
blo "0,800"
tm "TableTextMgr"
)
)
*88 (TextMatrixItem
uid 1410,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 4
row 7
text (Text
uid 1411,0
va (VaSet
)
xt "0,0,4100,1000"
st "X\"FF0000\""
blo "0,800"
tm "TableTextMgr"
)
)
*89 (TextMatrixItem
uid 1412,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 4
row 8
text (Text
uid 1413,0
va (VaSet
)
xt "0,0,4100,1000"
st "X\"FF0000\""
blo "0,800"
tm "TableTextMgr"
)
)
*90 (TextMatrixItem
uid 1414,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 4
row 9
text (Text
uid 1415,0
va (VaSet
)
xt "0,0,4100,1000"
st "X\"FF0000\""
blo "0,800"
tm "TableTextMgr"
)
)
*91 (TextMatrixItem
uid 1416,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 4
row 10
text (Text
uid 1417,0
va (VaSet
)
xt "0,0,4100,1000"
st "X\"FF0000\""
blo "0,800"
tm "TableTextMgr"
)
)
*92 (TextMatrixItem
uid 1418,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 4
row 12
text (Text
uid 1419,0
va (VaSet
)
xt "0,0,4100,1000"
st "X\"FF0000\""
blo "0,800"
tm "TableTextMgr"
)
)
*93 (TextMatrixItem
uid 1420,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 4
row 11
text (Text
uid 1421,0
va (VaSet
)
xt "0,0,4100,1000"
st "X\"FF0000\""
blo "0,800"
tm "TableTextMgr"
)
)
*94 (TextMatrixItem
uid 1422,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 4
row 14
text (Text
uid 1423,0
va (VaSet
)
xt "0,0,4100,1000"
st "X\"FF0000\""
blo "0,800"
tm "TableTextMgr"
)
)
*95 (TextMatrixItem
uid 1424,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 4
row 15
text (Text
uid 1425,0
va (VaSet
)
xt "0,0,4100,1000"
st "X\"FF0000\""
blo "0,800"
tm "TableTextMgr"
)
)
*96 (TextMatrixItem
uid 1426,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 4
row 16
text (Text
uid 1427,0
va (VaSet
)
xt "0,0,4100,1000"
st "X\"FF0000\""
blo "0,800"
tm "TableTextMgr"
)
)
*97 (TextMatrixItem
uid 1428,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 4
row 17
text (Text
uid 1429,0
va (VaSet
)
xt "0,0,4100,1000"
st "X\"FF0000\""
blo "0,800"
tm "TableTextMgr"
)
)
*98 (TextMatrixItem
uid 1430,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 4
row 18
text (Text
uid 1431,0
va (VaSet
)
xt "0,0,4100,1000"
st "X\"FF0000\""
blo "0,800"
tm "TableTextMgr"
)
)
*99 (TextMatrixItem
uid 1432,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 4
row 19
text (Text
uid 1433,0
va (VaSet
)
xt "0,0,4100,1000"
st "X\"FF0000\""
blo "0,800"
tm "TableTextMgr"
)
)
*100 (TextMatrixItem
uid 1434,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 4
row 20
text (Text
uid 1435,0
va (VaSet
)
xt "0,0,4100,1000"
st "X\"FF0000\""
blo "0,800"
tm "TableTextMgr"
)
)
*101 (TextMatrixItem
uid 1436,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 4
row 22
text (Text
uid 1437,0
va (VaSet
)
xt "0,0,4100,1000"
st "X\"FF0000\""
blo "0,800"
tm "TableTextMgr"
)
)
*102 (TextMatrixItem
uid 1438,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 4
row 21
text (Text
uid 1439,0
va (VaSet
)
xt "0,0,4100,1000"
st "X\"FF0000\""
blo "0,800"
tm "TableTextMgr"
)
)
*103 (TextMatrixItem
uid 1440,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 4
row 23
text (Text
uid 1441,0
va (VaSet
)
xt "0,0,4100,1000"
st "X\"FF0000\""
blo "0,800"
tm "TableTextMgr"
)
)
*104 (TextMatrixItem
uid 1442,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 4
row 24
text (Text
uid 1443,0
va (VaSet
)
xt "0,0,4100,1000"
st "X\"FF0000\""
blo "0,800"
tm "TableTextMgr"
)
)
*105 (TextMatrixItem
uid 1444,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 4
row 25
text (Text
uid 1445,0
va (VaSet
)
xt "0,0,4100,1000"
st "X\"FF0000\""
blo "0,800"
tm "TableTextMgr"
)
)
*106 (TextMatrixItem
uid 1446,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 4
row 26
text (Text
uid 1447,0
va (VaSet
)
xt "0,0,4100,1000"
st "X\"FF0000\""
blo "0,800"
tm "TableTextMgr"
)
)
*107 (TextMatrixItem
uid 1448,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 4
row 27
text (Text
uid 1449,0
va (VaSet
)
xt "0,0,4100,1000"
st "X\"FF0000\""
blo "0,800"
tm "TableTextMgr"
)
)
*108 (TextMatrixItem
uid 4,0
va (VaSet
vasetType 1
fg "65535,65535,37120"
bg "65535,65535,37120"
)
col 4
row 1
text (Text
uid 5,0
va (VaSet
)
xt "0,0,5200,1000"
st "victory_color"
blo "0,800"
tm "TableTextMgr"
)
)
*109 (TextMatrixItem
uid 1478,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 4
row 13
text (Text
uid 1479,0
va (VaSet
)
xt "0,0,4100,1000"
st "X\"FF0000\""
blo "0,800"
tm "TableTextMgr"
)
)
*110 (TextMatrixItem
uid 1722,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 2
row 28
text (Text
uid 1723,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"20\""
blo "0,800"
tm "TableTextMgr"
)
)
*111 (TextMatrixItem
uid 1724,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 2
row 29
text (Text
uid 1725,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"20\""
blo "0,800"
tm "TableTextMgr"
)
)
*112 (TextMatrixItem
uid 1726,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 2
row 30
text (Text
uid 1727,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"20\""
blo "0,800"
tm "TableTextMgr"
)
)
*113 (TextMatrixItem
uid 1728,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 2
row 31
text (Text
uid 1729,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"20\""
blo "0,800"
tm "TableTextMgr"
)
)
*114 (TextMatrixItem
uid 1730,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 2
row 32
text (Text
uid 1731,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"20\""
blo "0,800"
tm "TableTextMgr"
)
)
*115 (TextMatrixItem
uid 1732,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 3
row 28
text (Text
uid 1733,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"02\""
blo "0,800"
tm "TableTextMgr"
)
)
*116 (TextMatrixItem
uid 1734,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 3
row 29
text (Text
uid 1735,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"04\""
blo "0,800"
tm "TableTextMgr"
)
)
*117 (TextMatrixItem
uid 1736,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 3
row 30
text (Text
uid 1737,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"08\""
blo "0,800"
tm "TableTextMgr"
)
)
*118 (TextMatrixItem
uid 1738,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 3
row 31
text (Text
uid 1739,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"10\""
blo "0,800"
tm "TableTextMgr"
)
)
*119 (TextMatrixItem
uid 1740,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 3
row 32
text (Text
uid 1741,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"20\""
blo "0,800"
tm "TableTextMgr"
)
)
*120 (TextMatrixItem
uid 1742,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 4
row 28
text (Text
uid 1743,0
va (VaSet
)
xt "0,0,4100,1000"
st "X\"FF0000\""
blo "0,800"
tm "TableTextMgr"
)
)
*121 (TextMatrixItem
uid 1744,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 4
row 29
text (Text
uid 1745,0
va (VaSet
)
xt "0,0,4100,1000"
st "X\"FF0000\""
blo "0,800"
tm "TableTextMgr"
)
)
*122 (TextMatrixItem
uid 1746,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 4
row 30
text (Text
uid 1747,0
va (VaSet
)
xt "0,0,4100,1000"
st "X\"FF0000\""
blo "0,800"
tm "TableTextMgr"
)
)
*123 (TextMatrixItem
uid 1748,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 4
row 31
text (Text
uid 1749,0
va (VaSet
)
xt "0,0,4100,1000"
st "X\"FF0000\""
blo "0,800"
tm "TableTextMgr"
)
)
*124 (TextMatrixItem
uid 1750,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 4
row 32
text (Text
uid 1751,0
va (VaSet
)
xt "0,0,4100,1000"
st "X\"FF0000\""
blo "0,800"
tm "TableTextMgr"
)
)
*125 (TextMatrixItem
uid 1758,0
va (VaSet
vasetType 1
fg "0,65535,65535"
bg "0,65535,65535"
)
col 1
row 36
text (Text
uid 1759,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"22\""
blo "0,800"
tm "TableTextMgr"
)
)
*126 (TextMatrixItem
uid 1760,0
va (VaSet
vasetType 1
fg "0,65535,65535"
bg "0,65535,65535"
)
col 1
row 37
text (Text
uid 1761,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"23\""
blo "0,800"
tm "TableTextMgr"
)
)
*127 (TextMatrixItem
uid 1762,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 2
row 33
text (Text
uid 1763,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"40\""
blo "0,800"
tm "TableTextMgr"
)
)
*128 (TextMatrixItem
uid 1764,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 2
row 34
text (Text
uid 1765,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"40\""
blo "0,800"
tm "TableTextMgr"
)
)
*129 (TextMatrixItem
uid 1766,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 2
row 35
text (Text
uid 1767,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"40\""
blo "0,800"
tm "TableTextMgr"
)
)
*130 (TextMatrixItem
uid 1768,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 2
row 36
text (Text
uid 1769,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"40\""
blo "0,800"
tm "TableTextMgr"
)
)
*131 (TextMatrixItem
uid 1770,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 2
row 37
text (Text
uid 1771,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"40\""
blo "0,800"
tm "TableTextMgr"
)
)
*132 (TextMatrixItem
uid 1772,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 3
row 33
text (Text
uid 1773,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"02\""
blo "0,800"
tm "TableTextMgr"
)
)
*133 (TextMatrixItem
uid 1774,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 3
row 34
text (Text
uid 1775,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"04\""
blo "0,800"
tm "TableTextMgr"
)
)
*134 (TextMatrixItem
uid 1776,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 3
row 35
text (Text
uid 1777,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"08\""
blo "0,800"
tm "TableTextMgr"
)
)
*135 (TextMatrixItem
uid 1778,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 3
row 36
text (Text
uid 1779,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"10\""
blo "0,800"
tm "TableTextMgr"
)
)
*136 (TextMatrixItem
uid 1780,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 3
row 37
text (Text
uid 1781,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"20\""
blo "0,800"
tm "TableTextMgr"
)
)
*137 (TextMatrixItem
uid 1782,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 4
row 33
text (Text
uid 1783,0
va (VaSet
)
xt "0,0,4100,1000"
st "X\"FF0000\""
blo "0,800"
tm "TableTextMgr"
)
)
*138 (TextMatrixItem
uid 1784,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 4
row 34
text (Text
uid 1785,0
va (VaSet
)
xt "0,0,4100,1000"
st "X\"FF0000\""
blo "0,800"
tm "TableTextMgr"
)
)
*139 (TextMatrixItem
uid 1786,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 4
row 35
text (Text
uid 1787,0
va (VaSet
)
xt "0,0,4100,1000"
st "X\"FF0000\""
blo "0,800"
tm "TableTextMgr"
)
)
*140 (TextMatrixItem
uid 1788,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 4
row 36
text (Text
uid 1789,0
va (VaSet
)
xt "0,0,4100,1000"
st "X\"FF0000\""
blo "0,800"
tm "TableTextMgr"
)
)
*141 (TextMatrixItem
uid 1790,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 4
row 37
text (Text
uid 1791,0
va (VaSet
)
xt "0,0,4100,1000"
st "X\"FF0000\""
blo "0,800"
tm "TableTextMgr"
)
)
*142 (TextMatrixItem
uid 1792,0
va (VaSet
vasetType 1
fg "0,65535,65535"
bg "0,65535,65535"
)
col 1
row 38
text (Text
uid 1793,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"24\""
blo "0,800"
tm "TableTextMgr"
)
)
*143 (TextMatrixItem
uid 1794,0
va (VaSet
vasetType 1
fg "0,65535,65535"
bg "0,65535,65535"
)
col 1
row 39
text (Text
uid 1795,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"25\""
blo "0,800"
tm "TableTextMgr"
)
)
*144 (TextMatrixItem
uid 1796,0
va (VaSet
vasetType 1
fg "0,65535,65535"
bg "0,65535,65535"
)
col 1
row 40
text (Text
uid 1797,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"26\""
blo "0,800"
tm "TableTextMgr"
)
)
*145 (TextMatrixItem
uid 1798,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 2
row 38
text (Text
uid 1799,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"80\""
blo "0,800"
tm "TableTextMgr"
)
)
*146 (TextMatrixItem
uid 1800,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 2
row 39
text (Text
uid 1801,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"80\""
blo "0,800"
tm "TableTextMgr"
)
)
*147 (TextMatrixItem
uid 1802,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 2
row 40
text (Text
uid 1803,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"80\""
blo "0,800"
tm "TableTextMgr"
)
)
*148 (TextMatrixItem
uid 1804,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 3
row 38
text (Text
uid 1805,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"04\""
blo "0,800"
tm "TableTextMgr"
)
)
*149 (TextMatrixItem
uid 1806,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 3
row 39
text (Text
uid 1807,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"08\""
blo "0,800"
tm "TableTextMgr"
)
)
*150 (TextMatrixItem
uid 1808,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 3
row 40
text (Text
uid 1809,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"10\""
blo "0,800"
tm "TableTextMgr"
)
)
*151 (TextMatrixItem
uid 1810,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 4
row 38
text (Text
uid 1811,0
va (VaSet
)
xt "0,0,4100,1000"
st "X\"FF0000\""
blo "0,800"
tm "TableTextMgr"
)
)
*152 (TextMatrixItem
uid 1812,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 4
row 39
text (Text
uid 1813,0
va (VaSet
)
xt "0,0,4100,1000"
st "X\"FF0000\""
blo "0,800"
tm "TableTextMgr"
)
)
*153 (TextMatrixItem
uid 1814,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 4
row 40
text (Text
uid 1815,0
va (VaSet
)
xt "0,0,4100,1000"
st "X\"FF0000\""
blo "0,800"
tm "TableTextMgr"
)
)
*154 (TextMatrixItem
uid 1816,0
va (VaSet
vasetType 1
fg "0,65535,65535"
bg "0,65535,65535"
)
col 1
row 28
text (Text
uid 1817,0
va (VaSet
)
xt "0,0,2400,1000"
st "X\"1A\""
blo "0,800"
tm "TableTextMgr"
)
)
*155 (TextMatrixItem
uid 1818,0
va (VaSet
vasetType 1
fg "0,65535,65535"
bg "0,65535,65535"
)
col 1
row 29
text (Text
uid 1819,0
va (VaSet
)
xt "0,0,2400,1000"
st "X\"1B\""
blo "0,800"
tm "TableTextMgr"
)
)
*156 (TextMatrixItem
uid 1820,0
va (VaSet
vasetType 1
fg "0,65535,65535"
bg "0,65535,65535"
)
col 1
row 30
text (Text
uid 1821,0
va (VaSet
)
xt "0,0,2500,1000"
st "X\"1C\""
blo "0,800"
tm "TableTextMgr"
)
)
*157 (TextMatrixItem
uid 1822,0
va (VaSet
vasetType 1
fg "0,65535,65535"
bg "0,65535,65535"
)
col 1
row 31
text (Text
uid 1823,0
va (VaSet
)
xt "0,0,2500,1000"
st "X\"1D\""
blo "0,800"
tm "TableTextMgr"
)
)
*158 (TextMatrixItem
uid 1824,0
va (VaSet
vasetType 1
fg "0,65535,65535"
bg "0,65535,65535"
)
col 1
row 32
text (Text
uid 1825,0
va (VaSet
)
xt "0,0,2400,1000"
st "X\"1E\""
blo "0,800"
tm "TableTextMgr"
)
)
*159 (TextMatrixItem
uid 1826,0
va (VaSet
vasetType 1
fg "0,65535,65535"
bg "0,65535,65535"
)
col 1
row 33
text (Text
uid 1827,0
va (VaSet
)
xt "0,0,2400,1000"
st "X\"1F\""
blo "0,800"
tm "TableTextMgr"
)
)
*160 (TextMatrixItem
uid 1828,0
va (VaSet
vasetType 1
fg "0,65535,65535"
bg "0,65535,65535"
)
col 1
row 34
text (Text
uid 1829,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"20\""
blo "0,800"
tm "TableTextMgr"
)
)
*161 (TextMatrixItem
uid 1830,0
va (VaSet
vasetType 1
fg "0,65535,65535"
bg "0,65535,65535"
)
col 1
row 35
text (Text
uid 1831,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"21\""
blo "0,800"
tm "TableTextMgr"
)
)
]
colStart 1
rowStart 1
defaultColumnWidth 100
defaultRowHeight 40
columnWidths [
20
100
100
100
100
]
rowHeight [
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
]
inputColumnLimit 2
)
]
bg "65535,65535,65535"
grid (Grid
origin "0,0"
isVisible 1
isActive 1
xSpacing 1000
xySpacing 1000
xShown 1
yShown 1
color "65535,0,0"
)
packageList *162 (PackageList
uid 22,0
stg "VerticalLayoutStrategy"
textVec [
*163 (Text
uid 23,0
va (VaSet
)
xt "0,0,5100,1000"
st "Package List"
blo "0,800"
)
*164 (MLText
uid 24,0
va (VaSet
)
xt "0,1000,10800,4000"
st "LIBRARY ieee;
USE ieee.std_logic_1164.all;
USE ieee.std_logic_arith.all;"
tm "PackageList"
)
]
)
compDirBlock (MlTextGroup
uid 25,0
stg "VerticalLayoutStrategy"
textVec [
*165 (Text
uid 26,0
va (VaSet
)
xt "20000,0,27700,1000"
st "Compiler Directives"
blo "20000,800"
)
*166 (Text
uid 27,0
va (VaSet
)
xt "20000,1000,28900,2000"
st "Pre-module directives:"
blo "20000,1800"
)
*167 (MLText
uid 28,0
va (VaSet
)
xt "20000,2000,27600,4000"
st "`resetall
`timescale 1ns/10ps"
tm "TtCompilerDirectivesTextMgr"
)
*168 (Text
uid 29,0
va (VaSet
)
xt "20000,4000,29200,5000"
st "Post-module directives:"
blo "20000,4800"
)
*169 (MLText
uid 30,0
va (VaSet
)
xt "20000,0,20000,0"
tm "TtCompilerDirectivesTextMgr"
)
*170 (Text
uid 31,0
va (VaSet
)
xt "20000,5000,29000,6000"
st "End-module directives:"
blo "20000,5800"
)
*171 (MLText
uid 32,0
va (VaSet
)
xt "20000,6000,20000,6000"
tm "TtCompilerDirectivesTextMgr"
)
]
associable 1
)
windowSize "1000,41,2298,1440"
viewArea "0,0,1087,1288"
cachedDiagramExtent "0,0,0,0"
pageBreakOrigin "0,0"
defaultInputHdrTextMatrixItem (TextMatrixItem
va (VaSet
vasetType 1
fg "39936,56832,65280"
bg "39936,56832,65280"
)
col -1
row -1
text (Text
va (VaSet
)
blo "0,0"
tm "TableTextMgr"
)
)
defaultOutputHdrTextMatrixItem (TextMatrixItem
va (VaSet
vasetType 1
fg "65535,65535,37120"
bg "65535,65535,37120"
)
col -1
row -1
text (Text
va (VaSet
)
blo "0,0"
tm "TableTextMgr"
)
)
defaultInputColTextMatrixItem (TextMatrixItem
va (VaSet
vasetType 1
fg "0,65535,65535"
bg "0,65535,65535"
)
col -1
row -1
text (Text
va (VaSet
)
blo "0,0"
tm "TableTextMgr"
)
)
defaultOutputColTextMatrixItem (TextMatrixItem
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col -1
row -1
text (Text
va (VaSet
)
blo "0,0"
tm "TableTextMgr"
)
)
archDeclarativeBlock *172 (BiTextGroup
uid 33,0
stg "VerticalLayoutStrategy"
first (Text
uid 34,0
va (VaSet
font "arial,12,1"
)
xt "0,0,16700,1500"
st "Architecture Declarations"
blo "0,1200"
)
second (MLText
uid 35,0
va (VaSet
font "arial,12,0"
)
xt "0,1500,1000,3000"
st " "
tm "CommentText"
)
)
archConcurrentStatementBlock *173 (BiTextGroup
uid 36,0
stg "VerticalLayoutStrategy"
first (Text
uid 37,0
va (VaSet
font "arial,12,1"
)
xt "0,0,15400,1500"
st "Concurrent Statements"
blo "0,1200"
)
second (MLText
uid 38,0
va (VaSet
font "arial,12,0"
)
xt "0,1500,1000,3000"
st " "
tm "CommentText"
)
)
processDeclarativeBlock *174 (BiTextGroup
uid 39,0
stg "VerticalLayoutStrategy"
first (Text
uid 40,0
va (VaSet
font "arial,12,1"
)
xt "0,0,14400,1500"
st "Process Declarations"
blo "0,1200"
)
second (MLText
uid 41,0
va (VaSet
font "arial,12,0"
)
xt "0,1500,1000,3000"
st " "
tm "CommentText"
)
)
sensitivityListBlock *175 (BiTextGroup
uid 42,0
stg "VerticalLayoutStrategy"
first (Text
uid 43,0
va (VaSet
font "arial,12,1"
)
xt "0,0,9600,1500"
st "Sensitivity List"
blo "0,1200"
)
second (MLText
uid 44,0
va (VaSet
font "arial,12,0"
)
xt "0,1500,0,1500"
tm "CommentText"
)
)
globalActionsBlock *176 (BiTextGroup
uid 45,0
stg "VerticalLayoutStrategy"
first (Text
uid 46,0
va (VaSet
font "arial,12,1"
)
xt "0,0,10200,1500"
st "Globals Actions"
blo "0,1200"
)
second (MLText
uid 47,0
va (VaSet
font "arial,12,0"
)
xt "0,1500,0,1500"
tm "CommentText"
)
)
genChar *177 (TtGenChar
uid 48,0
machineMode 1
hdlStyle 1
resetActions ""
resetMode 1
resetName ""
resetCondition ""
verilogResetSensitivity ""
resetPolarity 0
clockPolarity 0
clockSigName ""
clockCondition ""
insertSetresetPragma 0
setresetPragma 0
insertCasePragma 0
casePragma 0
caseType 0
blockType 0
autoSensitivityList 1
generateDefaultInCase 1
)
commonDM (CommonDM
ldm (LogicalDM
emptyRow *178 (LEmptyRow
)
uid 51,0
optionalChildren [
*179 (RefLabelRowHdr
)
*180 (TitleRowHdr
)
*181 (FilterRowHdr
)
*182 (RefLabelColHdr
tm "RefLabelColHdrMgr"
)
*183 (RowExpandColHdr
tm "RowExpandColHdrMgr"
)
*184 (GroupColHdr
tm "GroupColHdrMgr"
)
*185 (NameColHdr
tm "TruthTableNameColHdrMgr"
)
*186 (ModeColHdr
tm "TruthTableModeColHdrMgr"
)
*187 (TypeColHdr
tm "TruthTableTypeColHdrMgr"
)
*188 (BoundsColHdr
tm "TruthTableBoundsColHdrMgr"
)
*189 (InitColHdr
tm "TruthTableInitColHdrMgr"
)
*190 (EolColHdr
tm "TruthTableEolColHdrMgr"
)
*191 (LeafLogPort
port (LogicalPort
lang 2
decl (Decl
n "idx"
t "std_logic_vector"
b "(7 DOWNTO 0)"
o 1
i "X\"00\""
)
)
uid 126,0
scheme 0
)
*192 (LeafLogPort
port (LogicalPort
lang 2
m 1
decl (Decl
n "victory_x"
t "std_logic_vector"
b "(7 DOWNTO 0)"
o 3
i "X\"00\""
)
)
uid 128,0
scheme 0
)
*193 (LeafLogPort
port (LogicalPort
lang 2
m 1
decl (Decl
n "victory_y"
t "std_logic_vector"
b "(7 DOWNTO 0)"
o 4
i "X\"00\""
)
)
uid 130,0
scheme 0
)
*194 (LeafLogPort
port (LogicalPort
lang 2
m 1
decl (Decl
n "victory_color"
t "std_logic_vector"
b "(23 DOWNTO 0)"
o 2
i "X\"FF0000\""
)
)
uid 132,0
scheme 0
)
]
)
pdm (PhysicalDM
displayShortBounds 1
editShortBounds 1
uid 64,0
optionalChildren [
*195 (Sheet
sheetRow (SheetRow
headerVa (MVa
cellColor "49152,49152,49152"
fontColor "0,0,0"
font "Tahoma,10,0"
)
cellVa (MVa
cellColor "65535,65535,65535"
fontColor "0,0,0"
font "Tahoma,10,0"
)
groupVa (MVa
cellColor "39936,56832,65280"
fontColor "0,0,0"
font "Tahoma,10,0"
)
emptyMRCItem *196 (MRCItem
litem &178
pos 4
dimension 20
)
uid 66,0
optionalChildren [
*197 (MRCItem
litem &179
pos 0
dimension 20
uid 67,0
)
*198 (MRCItem
litem &180
pos 1
dimension 23
uid 68,0
)
*199 (MRCItem
litem &181
pos 2
hidden 1
dimension 20
uid 69,0
)
*200 (MRCItem
litem &191
pos 0
dimension 20
uid 127,0
)
*201 (MRCItem
litem &192
pos 1
dimension 20
uid 129,0
)
*202 (MRCItem
litem &193
pos 2
dimension 20
uid 131,0
)
*203 (MRCItem
litem &194
pos 3
dimension 20
uid 133,0
)
]
)
sheetCol (SheetCol
propVa (MVa
cellColor "0,49152,49152"
fontColor "0,0,0"
font "Tahoma,10,0"
textAngle 90
)
uid 70,0
optionalChildren [
*204 (MRCItem
litem &182
pos 0
dimension 20
uid 71,0
)
*205 (MRCItem
litem &184
pos 1
dimension 50
uid 72,0
)
*206 (MRCItem
litem &185
pos 2
dimension 100
uid 73,0
)
*207 (MRCItem
litem &186
pos 3
dimension 50
uid 74,0
)
*208 (MRCItem
litem &187
pos 4
dimension 100
uid 75,0
)
*209 (MRCItem
litem &188
pos 5
dimension 100
uid 76,0
)
*210 (MRCItem
litem &189
pos 6
dimension 50
uid 77,0
)
*211 (MRCItem
litem &190
pos 7
dimension 80
uid 78,0
)
]
)
fixedCol 4
fixedRow 2
name "Ports"
uid 65,0
vaOverrides [
]
)
]
)
uid 50,0
)
genericsCommonDM (CommonDM
ldm (LogicalDM
emptyRow *212 (LEmptyRow
)
uid 80,0
optionalChildren [
*213 (RefLabelRowHdr
)
*214 (TitleRowHdr
)
*215 (FilterRowHdr
)
*216 (RefLabelColHdr
tm "RefLabelColHdrMgr"
)
*217 (RowExpandColHdr
tm "RowExpandColHdrMgr"
)
*218 (GroupColHdr
tm "GroupColHdrMgr"
)
*219 (NameColHdr
tm "GenericNameColHdrMgr"
)
*220 (TypeColHdr
tm "GenericTypeColHdrMgr"
)
*221 (InitColHdr
tm "GenericValueColHdrMgr"
)
*222 (PragmaColHdr
tm "GenericPragmaColHdrMgr"
)
*223 (EolColHdr
tm "GenericEolColHdrMgr"
)
]
)
pdm (PhysicalDM
displayShortBounds 1
editShortBounds 1
uid 92,0
optionalChildren [
*224 (Sheet
sheetRow (SheetRow
headerVa (MVa
cellColor "49152,49152,49152"
fontColor "0,0,0"
font "Tahoma,10,0"
)
cellVa (MVa
cellColor "65535,65535,65535"
fontColor "0,0,0"
font "Tahoma,10,0"
)
groupVa (MVa
cellColor "39936,56832,65280"
fontColor "0,0,0"
font "Tahoma,10,0"
)
emptyMRCItem *225 (MRCItem
litem &212
pos 0
dimension 20
)
uid 94,0
optionalChildren [
*226 (MRCItem
litem &213
pos 0
dimension 20
uid 95,0
)
*227 (MRCItem
litem &214
pos 1
dimension 23
uid 96,0
)
*228 (MRCItem
litem &215
pos 2
hidden 1
dimension 20
uid 97,0
)
]
)
sheetCol (SheetCol
propVa (MVa
cellColor "0,49152,49152"
fontColor "0,0,0"
font "Tahoma,10,0"
textAngle 90
)
uid 98,0
optionalChildren [
*229 (MRCItem
litem &216
pos 0
dimension 20
uid 99,0
)
*230 (MRCItem
litem &218
pos 1
dimension 50
uid 100,0
)
*231 (MRCItem
litem &219
pos 2
dimension 100
uid 101,0
)
*232 (MRCItem
litem &220
pos 3
dimension 100
uid 102,0
)
*233 (MRCItem
litem &221
pos 4
dimension 50
uid 103,0
)
*234 (MRCItem
litem &222
pos 5
dimension 50
uid 104,0
)
*235 (MRCItem
litem &223
pos 6
dimension 80
uid 105,0
)
]
)
fixedCol 3
fixedRow 2
name "Ports"
uid 93,0
vaOverrides [
]
)
]
)
uid 79,0
type 1
)
activeModelName "TruthTableDiag"
lastUid 1877,0
)
