DocumentHdrVersion "1.1"
Header (DocumentHdr
version 2
dialect 2
dmPackageRefs [
(DmPackageRef
library "ieee"
unitName "std_logic_1164"
)
(DmPackageRef
library "ieee"
unitName "std_logic_arith"
)
]
libraryRefs [
"ieee"
]
)
version "13.1"
appVersion "2019.3 (Build 4)"
model (TruthTableDiag
VExpander (VariableExpander
vvMap [
(vvPair
variable "HDLDir"
value "P:\\20\\alien_game\\alien_game_lib\\hdl"
)
(vvPair
variable "HDSDir"
value "P:\\20\\alien_game\\alien_game_lib\\hds"
)
(vvPair
variable "SideDataDesignDir"
value "P:\\20\\alien_game\\alien_game_lib\\hds\\c7_b1_lose_cross\\tbl.tt.info"
)
(vvPair
variable "SideDataUserDir"
value "P:\\20\\alien_game\\alien_game_lib\\hds\\c7_b1_lose_cross\\tbl.tt.user"
)
(vvPair
variable "SourceDir"
value "P:\\20\\alien_game\\alien_game_lib\\hds"
)
(vvPair
variable "appl"
value "HDL Designer"
)
(vvPair
variable "arch_name"
value "tbl"
)
(vvPair
variable "config"
value "%(unit)_%(view)_config"
)
(vvPair
variable "d"
value "P:\\20\\alien_game\\alien_game_lib\\hds\\c7_b1_lose_cross"
)
(vvPair
variable "d_logical"
value "P:\\20\\alien_game\\alien_game_lib\\hds\\c7_b1_lose_cross"
)
(vvPair
variable "date"
value " 6.03.2026"
)
(vvPair
variable "day"
value "pe"
)
(vvPair
variable "day_long"
value "perjantai"
)
(vvPair
variable "dd"
value "06"
)
(vvPair
variable "entity_name"
value "c7_b1_lose_cross"
)
(vvPair
variable "ext"
value "<TBD>"
)
(vvPair
variable "f"
value "tbl.tt"
)
(vvPair
variable "f_logical"
value "tbl.tt"
)
(vvPair
variable "f_noext"
value "tbl"
)
(vvPair
variable "graphical_source_author"
value "ptjiya"
)
(vvPair
variable "graphical_source_date"
value " 6.03.2026"
)
(vvPair
variable "graphical_source_group"
value "UNKNOWN"
)
(vvPair
variable "graphical_source_host"
value "HTC219-307-SPC"
)
(vvPair
variable "graphical_source_time"
value "12:00:09"
)
(vvPair
variable "group"
value "UNKNOWN"
)
(vvPair
variable "host"
value "HTC219-307-SPC"
)
(vvPair
variable "language"
value "VHDL"
)
(vvPair
variable "library"
value "alien_game_lib"
)
(vvPair
variable "library_downstream_ModelSimCompiler"
value "$HDS_PROJECT_DIR/alien_game_lib/work"
)
(vvPair
variable "library_downstream_QuestaSimCompiler"
value "$HDS_PROJECT_DIR/alien_game_lib/work"
)
(vvPair
variable "library_downstream_SvAssistantInvoke"
value "$HDS_PROJECT_DIR/alien_game_lib/svassistant"
)
(vvPair
variable "mm"
value "03"
)
(vvPair
variable "module_name"
value "c7_b1_lose_cross"
)
(vvPair
variable "month"
value "maalis"
)
(vvPair
variable "month_long"
value "maaliskuu"
)
(vvPair
variable "p"
value "P:\\20\\alien_game\\alien_game_lib\\hds\\c7_b1_lose_cross\\tbl.tt"
)
(vvPair
variable "p_logical"
value "P:\\20\\alien_game\\alien_game_lib\\hds\\c7_b1_lose_cross\\tbl.tt"
)
(vvPair
variable "package_name"
value "<Undefined Variable>"
)
(vvPair
variable "project_name"
value "alien_game"
)
(vvPair
variable "series"
value "HDL Designer Series"
)
(vvPair
variable "task_DesignCompilerPath"
value "<TBD>"
)
(vvPair
variable "task_LeonardoPath"
value "<TBD>"
)
(vvPair
variable "task_ModelSimPath"
value "C:\\Apps\\MODELSIM DE-64 2022.3\\win64pe"
)
(vvPair
variable "task_NC-SimPath"
value "<TBD>"
)
(vvPair
variable "task_PrecisionRTLPath"
value "<TBD>"
)
(vvPair
variable "task_QuestaSimPath"
value "<TBD>"
)
(vvPair
variable "task_VCSPath"
value "<TBD>"
)
(vvPair
variable "this_ext"
value "tt"
)
(vvPair
variable "this_file"
value "tbl"
)
(vvPair
variable "this_file_logical"
value "tbl"
)
(vvPair
variable "time"
value "12:00:09"
)
(vvPair
variable "unit"
value "c7_b1_lose_cross"
)
(vvPair
variable "user"
value "ptjiya"
)
(vvPair
variable "version"
value "2019.3 (Build 4)"
)
(vvPair
variable "view"
value "tbl"
)
(vvPair
variable "year"
value "2026"
)
(vvPair
variable "yy"
value "26"
)
]
)
LanguageMgr "Vhdl93LangMgr"
uid 49,0
optionalChildren [
*1 (TruthTable
uid 1,0
optionalChildren [
*2 (TextMatrixItem
uid 136,0
va (VaSet
vasetType 1
fg "0,65535,65535"
bg "0,65535,65535"
)
col 1
row 2
text (Text
uid 137,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"01\""
blo "0,800"
tm "TableTextMgr"
)
)
*3 (TextMatrixItem
uid 146,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 2
row 2
text (Text
uid 147,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"04\""
blo "0,800"
tm "TableTextMgr"
)
)
*4 (TextMatrixItem
uid 148,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 2
row 3
text (Text
uid 149,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"08\""
blo "0,800"
tm "TableTextMgr"
)
)
*5 (TextMatrixItem
uid 150,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 2
row 4
text (Text
uid 151,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"10\""
blo "0,800"
tm "TableTextMgr"
)
)
*6 (TextMatrixItem
uid 156,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 3
row 2
text (Text
uid 157,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"10\""
blo "0,800"
tm "TableTextMgr"
)
)
*7 (TextMatrixItem
uid 158,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 3
row 3
text (Text
uid 159,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"08\""
blo "0,800"
tm "TableTextMgr"
)
)
*8 (TextMatrixItem
uid 160,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 3
row 4
text (Text
uid 161,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"04\""
blo "0,800"
tm "TableTextMgr"
)
)
*9 (TextMatrixItem
uid 174,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 4
row 2
text (Text
uid 175,0
va (VaSet
)
xt "0,0,4100,1000"
st "X\"0000FF\""
blo "0,800"
tm "TableTextMgr"
)
)
*10 (TextMatrixItem
uid 182,0
va (VaSet
vasetType 1
fg "39936,56832,65280"
bg "39936,56832,65280"
)
col 1
row 1
text (Text
uid 183,0
va (VaSet
)
xt "0,0,1400,1000"
st "idx"
blo "0,800"
tm "TableTextMgr"
)
)
*11 (TextMatrixItem
uid 184,0
va (VaSet
vasetType 1
fg "65535,65535,37120"
bg "65535,65535,37120"
)
col 2
row 1
text (Text
uid 185,0
va (VaSet
)
xt "0,0,2600,1000"
st "lose_x"
blo "0,800"
tm "TableTextMgr"
)
)
*12 (TextMatrixItem
uid 186,0
va (VaSet
vasetType 1
fg "65535,65535,37120"
bg "65535,65535,37120"
)
col 3
row 1
text (Text
uid 187,0
va (VaSet
)
xt "0,0,2600,1000"
st "lose_y"
blo "0,800"
tm "TableTextMgr"
)
)
*13 (TextMatrixItem
uid 188,0
va (VaSet
vasetType 1
fg "65535,65535,37120"
bg "65535,65535,37120"
)
col 4
row 1
text (Text
uid 189,0
va (VaSet
)
xt "0,0,4300,1000"
st "lose_color"
blo "0,800"
tm "TableTextMgr"
)
)
*14 (TextMatrixItem
uid 236,0
va (VaSet
vasetType 1
fg "0,65535,65535"
bg "0,65535,65535"
)
col 1
row 3
text (Text
uid 237,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"02\""
blo "0,800"
tm "TableTextMgr"
)
)
*15 (TextMatrixItem
uid 238,0
va (VaSet
vasetType 1
fg "0,65535,65535"
bg "0,65535,65535"
)
col 1
row 4
text (Text
uid 239,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"03\""
blo "0,800"
tm "TableTextMgr"
)
)
*16 (TextMatrixItem
uid 297,0
va (VaSet
vasetType 1
fg "0,65535,65535"
bg "0,65535,65535"
)
col 1
row 5
text (Text
uid 298,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"04\""
blo "0,800"
tm "TableTextMgr"
)
)
*17 (TextMatrixItem
uid 299,0
va (VaSet
vasetType 1
fg "0,65535,65535"
bg "0,65535,65535"
)
col 1
row 6
text (Text
uid 300,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"05\""
blo "0,800"
tm "TableTextMgr"
)
)
*18 (TextMatrixItem
uid 303,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 2
row 5
text (Text
uid 304,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"08\""
blo "0,800"
tm "TableTextMgr"
)
)
*19 (TextMatrixItem
uid 305,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 2
row 6
text (Text
uid 306,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"10\""
blo "0,800"
tm "TableTextMgr"
)
)
*20 (TextMatrixItem
uid 307,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 2
row 7
text (Text
uid 308,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"20\""
blo "0,800"
tm "TableTextMgr"
)
)
*21 (TextMatrixItem
uid 311,0
va (VaSet
vasetType 1
fg "0,65535,65535"
bg "0,65535,65535"
)
col 1
row 7
text (Text
uid 312,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"06\""
blo "0,800"
tm "TableTextMgr"
)
)
*22 (TextMatrixItem
uid 323,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 3
row 5
text (Text
uid 324,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"20\""
blo "0,800"
tm "TableTextMgr"
)
)
*23 (TextMatrixItem
uid 362,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 3
row 6
text (Text
uid 363,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"10\""
blo "0,800"
tm "TableTextMgr"
)
)
*24 (TextMatrixItem
uid 364,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 3
row 7
text (Text
uid 365,0
va (VaSet
)
xt "0,0,2300,1000"
st "X\"08\""
blo "0,800"
tm "TableTextMgr"
)
)
*25 (TextMatrixItem
uid 389,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 4
row 3
text (Text
uid 390,0
va (VaSet
)
xt "0,0,4100,1000"
st "X\"0000FF\""
blo "0,800"
tm "TableTextMgr"
)
)
*26 (TextMatrixItem
uid 391,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 4
row 4
text (Text
uid 392,0
va (VaSet
)
xt "0,0,4100,1000"
st "X\"0000FF\""
blo "0,800"
tm "TableTextMgr"
)
)
*27 (TextMatrixItem
uid 393,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 4
row 5
text (Text
uid 394,0
va (VaSet
)
xt "0,0,4100,1000"
st "X\"0000FF\""
blo "0,800"
tm "TableTextMgr"
)
)
*28 (TextMatrixItem
uid 395,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 4
row 6
text (Text
uid 396,0
va (VaSet
)
xt "0,0,4100,1000"
st "X\"0000FF\""
blo "0,800"
tm "TableTextMgr"
)
)
*29 (TextMatrixItem
uid 397,0
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col 4
row 7
text (Text
uid 398,0
va (VaSet
)
xt "0,0,4100,1000"
st "X\"0000FF\""
blo "0,800"
tm "TableTextMgr"
)
)
]
colStart 1
rowStart 1
defaultColumnWidth 100
defaultRowHeight 40
columnWidths [
100
100
100
100
100
]
rowHeight [
20
40
40
40
40
40
40
40
]
inputColumnLimit 2
)
]
bg "65535,65535,65535"
grid (Grid
origin "0,0"
isVisible 1
isActive 1
xSpacing 1000
xySpacing 1000
xShown 1
yShown 1
color "65535,0,0"
)
packageList *30 (PackageList
uid 22,0
stg "VerticalLayoutStrategy"
textVec [
*31 (Text
uid 23,0
va (VaSet
)
xt "0,0,5100,1000"
st "Package List"
blo "0,800"
)
*32 (MLText
uid 24,0
va (VaSet
)
xt "0,1000,10800,4000"
st "LIBRARY ieee;
USE ieee.std_logic_1164.all;
USE ieee.std_logic_arith.all;"
tm "PackageList"
)
]
)
compDirBlock (MlTextGroup
uid 25,0
stg "VerticalLayoutStrategy"
textVec [
*33 (Text
uid 26,0
va (VaSet
)
xt "20000,0,27700,1000"
st "Compiler Directives"
blo "20000,800"
)
*34 (Text
uid 27,0
va (VaSet
)
xt "20000,1000,28900,2000"
st "Pre-module directives:"
blo "20000,1800"
)
*35 (MLText
uid 28,0
va (VaSet
)
xt "20000,2000,27600,4000"
st "`resetall
`timescale 1ns/10ps"
tm "TtCompilerDirectivesTextMgr"
)
*36 (Text
uid 29,0
va (VaSet
)
xt "20000,4000,29200,5000"
st "Post-module directives:"
blo "20000,4800"
)
*37 (MLText
uid 30,0
va (VaSet
)
xt "20000,0,20000,0"
tm "TtCompilerDirectivesTextMgr"
)
*38 (Text
uid 31,0
va (VaSet
)
xt "20000,5000,29000,6000"
st "End-module directives:"
blo "20000,5800"
)
*39 (MLText
uid 32,0
va (VaSet
)
xt "20000,6000,20000,6000"
tm "TtCompilerDirectivesTextMgr"
)
]
associable 1
)
windowSize "927,697,1948,1387"
viewArea "0,0,810,579"
cachedDiagramExtent "0,0,0,0"
pageBreakOrigin "0,0"
defaultInputHdrTextMatrixItem (TextMatrixItem
va (VaSet
vasetType 1
fg "39936,56832,65280"
bg "39936,56832,65280"
)
col -1
row -1
text (Text
va (VaSet
)
blo "0,0"
tm "TableTextMgr"
)
)
defaultOutputHdrTextMatrixItem (TextMatrixItem
va (VaSet
vasetType 1
fg "65535,65535,37120"
bg "65535,65535,37120"
)
col -1
row -1
text (Text
va (VaSet
)
blo "0,0"
tm "TableTextMgr"
)
)
defaultInputColTextMatrixItem (TextMatrixItem
va (VaSet
vasetType 1
fg "0,65535,65535"
bg "0,65535,65535"
)
col -1
row -1
text (Text
va (VaSet
)
blo "0,0"
tm "TableTextMgr"
)
)
defaultOutputColTextMatrixItem (TextMatrixItem
va (VaSet
vasetType 1
fg "65280,65280,46080"
bg "65280,65280,46080"
)
col -1
row -1
text (Text
va (VaSet
)
blo "0,0"
tm "TableTextMgr"
)
)
archDeclarativeBlock *40 (BiTextGroup
uid 33,0
stg "VerticalLayoutStrategy"
first (Text
uid 34,0
va (VaSet
font "arial,12,1"
)
xt "0,0,16700,1500"
st "Architecture Declarations"
blo "0,1200"
)
second (MLText
uid 35,0
va (VaSet
font "arial,12,0"
)
xt "0,1500,1000,3000"
st " "
tm "CommentText"
)
)
archConcurrentStatementBlock *41 (BiTextGroup
uid 36,0
stg "VerticalLayoutStrategy"
first (Text
uid 37,0
va (VaSet
font "arial,12,1"
)
xt "0,0,15400,1500"
st "Concurrent Statements"
blo "0,1200"
)
second (MLText
uid 38,0
va (VaSet
font "arial,12,0"
)
xt "0,1500,1000,3000"
st " "
tm "CommentText"
)
)
processDeclarativeBlock *42 (BiTextGroup
uid 39,0
stg "VerticalLayoutStrategy"
first (Text
uid 40,0
va (VaSet
font "arial,12,1"
)
xt "0,0,14400,1500"
st "Process Declarations"
blo "0,1200"
)
second (MLText
uid 41,0
va (VaSet
font "arial,12,0"
)
xt "0,1500,1000,3000"
st " "
tm "CommentText"
)
)
sensitivityListBlock *43 (BiTextGroup
uid 42,0
stg "VerticalLayoutStrategy"
first (Text
uid 43,0
va (VaSet
font "arial,12,1"
)
xt "0,0,9600,1500"
st "Sensitivity List"
blo "0,1200"
)
second (MLText
uid 44,0
va (VaSet
font "arial,12,0"
)
xt "0,1500,0,1500"
tm "CommentText"
)
)
globalActionsBlock *44 (BiTextGroup
uid 45,0
stg "VerticalLayoutStrategy"
first (Text
uid 46,0
va (VaSet
font "arial,12,1"
)
xt "0,0,10200,1500"
st "Globals Actions"
blo "0,1200"
)
second (MLText
uid 47,0
va (VaSet
font "arial,12,0"
)
xt "0,1500,0,1500"
tm "CommentText"
)
)
genChar *45 (TtGenChar
uid 48,0
machineMode 1
hdlStyle 1
resetActions ""
resetMode 1
resetName ""
resetCondition ""
verilogResetSensitivity ""
resetPolarity 0
clockPolarity 0
clockSigName ""
clockCondition ""
insertSetresetPragma 0
setresetPragma 0
insertCasePragma 0
casePragma 0
caseType 0
blockType 0
autoSensitivityList 1
generateDefaultInCase 1
)
commonDM (CommonDM
ldm (LogicalDM
emptyRow *46 (LEmptyRow
)
uid 51,0
optionalChildren [
*47 (RefLabelRowHdr
)
*48 (TitleRowHdr
)
*49 (FilterRowHdr
)
*50 (RefLabelColHdr
tm "RefLabelColHdrMgr"
)
*51 (RowExpandColHdr
tm "RowExpandColHdrMgr"
)
*52 (GroupColHdr
tm "GroupColHdrMgr"
)
*53 (NameColHdr
tm "TruthTableNameColHdrMgr"
)
*54 (ModeColHdr
tm "TruthTableModeColHdrMgr"
)
*55 (TypeColHdr
tm "TruthTableTypeColHdrMgr"
)
*56 (BoundsColHdr
tm "TruthTableBoundsColHdrMgr"
)
*57 (InitColHdr
tm "TruthTableInitColHdrMgr"
)
*58 (EolColHdr
tm "TruthTableEolColHdrMgr"
)
*59 (LeafLogPort
port (LogicalPort
lang 2
decl (Decl
n "idx"
t "std_logic_vector"
b "(7 DOWNTO 0)"
eolc " "
o 1
)
)
uid 106,0
scheme 0
)
*60 (LeafLogPort
port (LogicalPort
lang 2
m 1
decl (Decl
n "lose_x"
t "std_logic_vector"
b "(7 DOWNTO 0)"
eolc " "
o 3
i "X\"04\""
)
)
uid 108,0
scheme 0
)
*61 (LeafLogPort
port (LogicalPort
lang 2
m 1
decl (Decl
n "lose_y"
t "std_logic_vector"
b "(7 DOWNTO 0)"
eolc " "
o 4
i "X\"80\""
)
)
uid 110,0
scheme 0
)
*62 (LeafLogPort
port (LogicalPort
lang 2
m 1
decl (Decl
n "lose_color"
t "std_logic_vector"
b "(23 DOWNTO 0)"
eolc " "
o 2
i "X\"FF0000\""
)
)
uid 112,0
scheme 0
)
]
)
pdm (PhysicalDM
displayShortBounds 1
editShortBounds 1
uid 64,0
optionalChildren [
*63 (Sheet
sheetRow (SheetRow
headerVa (MVa
cellColor "49152,49152,49152"
fontColor "0,0,0"
font "Tahoma,10,0"
)
cellVa (MVa
cellColor "65535,65535,65535"
fontColor "0,0,0"
font "Tahoma,10,0"
)
groupVa (MVa
cellColor "39936,56832,65280"
fontColor "0,0,0"
font "Tahoma,10,0"
)
emptyMRCItem *64 (MRCItem
litem &46
pos 4
dimension 20
)
uid 66,0
optionalChildren [
*65 (MRCItem
litem &47
pos 0
dimension 20
uid 67,0
)
*66 (MRCItem
litem &48
pos 1
dimension 23
uid 68,0
)
*67 (MRCItem
litem &49
pos 2
hidden 1
dimension 20
uid 69,0
)
*68 (MRCItem
litem &59
pos 0
dimension 20
uid 107,0
)
*69 (MRCItem
litem &60
pos 1
dimension 20
uid 109,0
)
*70 (MRCItem
litem &61
pos 2
dimension 20
uid 111,0
)
*71 (MRCItem
litem &62
pos 3
dimension 20
uid 113,0
)
]
)
sheetCol (SheetCol
propVa (MVa
cellColor "0,49152,49152"
fontColor "0,0,0"
font "Tahoma,10,0"
textAngle 90
)
uid 70,0
optionalChildren [
*72 (MRCItem
litem &50
pos 0
dimension 20
uid 71,0
)
*73 (MRCItem
litem &52
pos 1
dimension 50
uid 72,0
)
*74 (MRCItem
litem &53
pos 2
dimension 100
uid 73,0
)
*75 (MRCItem
litem &54
pos 3
dimension 50
uid 74,0
)
*76 (MRCItem
litem &55
pos 4
dimension 100
uid 75,0
)
*77 (MRCItem
litem &56
pos 5
dimension 100
uid 76,0
)
*78 (MRCItem
litem &57
pos 6
dimension 50
uid 77,0
)
*79 (MRCItem
litem &58
pos 7
dimension 80
uid 78,0
)
]
)
fixedCol 4
fixedRow 2
name "Ports"
uid 65,0
vaOverrides [
]
)
]
)
uid 50,0
)
genericsCommonDM (CommonDM
ldm (LogicalDM
emptyRow *80 (LEmptyRow
)
uid 80,0
optionalChildren [
*81 (RefLabelRowHdr
)
*82 (TitleRowHdr
)
*83 (FilterRowHdr
)
*84 (RefLabelColHdr
tm "RefLabelColHdrMgr"
)
*85 (RowExpandColHdr
tm "RowExpandColHdrMgr"
)
*86 (GroupColHdr
tm "GroupColHdrMgr"
)
*87 (NameColHdr
tm "GenericNameColHdrMgr"
)
*88 (TypeColHdr
tm "GenericTypeColHdrMgr"
)
*89 (InitColHdr
tm "GenericValueColHdrMgr"
)
*90 (PragmaColHdr
tm "GenericPragmaColHdrMgr"
)
*91 (EolColHdr
tm "GenericEolColHdrMgr"
)
]
)
pdm (PhysicalDM
displayShortBounds 1
editShortBounds 1
uid 92,0
optionalChildren [
*92 (Sheet
sheetRow (SheetRow
headerVa (MVa
cellColor "49152,49152,49152"
fontColor "0,0,0"
font "Tahoma,10,0"
)
cellVa (MVa
cellColor "65535,65535,65535"
fontColor "0,0,0"
font "Tahoma,10,0"
)
groupVa (MVa
cellColor "39936,56832,65280"
fontColor "0,0,0"
font "Tahoma,10,0"
)
emptyMRCItem *93 (MRCItem
litem &80
pos 0
dimension 20
)
uid 94,0
optionalChildren [
*94 (MRCItem
litem &81
pos 0
dimension 20
uid 95,0
)
*95 (MRCItem
litem &82
pos 1
dimension 23
uid 96,0
)
*96 (MRCItem
litem &83
pos 2
hidden 1
dimension 20
uid 97,0
)
]
)
sheetCol (SheetCol
propVa (MVa
cellColor "0,49152,49152"
fontColor "0,0,0"
font "Tahoma,10,0"
textAngle 90
)
uid 98,0
optionalChildren [
*97 (MRCItem
litem &84
pos 0
dimension 20
uid 99,0
)
*98 (MRCItem
litem &86
pos 1
dimension 50
uid 100,0
)
*99 (MRCItem
litem &87
pos 2
dimension 100
uid 101,0
)
*100 (MRCItem
litem &88
pos 3
dimension 100
uid 102,0
)
*101 (MRCItem
litem &89
pos 4
dimension 50
uid 103,0
)
*102 (MRCItem
litem &90
pos 5
dimension 50
uid 104,0
)
*103 (MRCItem
litem &91
pos 6
dimension 80
uid 105,0
)
]
)
fixedCol 3
fixedRow 2
name "Ports"
uid 93,0
vaOverrides [
]
)
]
)
uid 79,0
type 1
)
activeModelName "TruthTableDiag"
lastUid 398,0
)
